.policy-title
    font-size policyTitleFontSize

.policy
    display flex
    flex-direction column
    background-color textColor
    color bgColor
    margin-top 12vh
    align-items center
    padding 5vw 5vw 5vw 15vw

.policy__wrap
    display flex
    flex-direction column
    max-width 975px

.policy__text
    padding-bottom 2vw
    font-size main-services-font-size