.policy-title
    font-size policyTitleFontSize

.policy
    background-color textColor
    color bgColor
    margin-top 5vw
    padding 5vw 20vw 5vw 29.5vw

.policy__text
    padding-bottom 2vw
    font-size main-services-font-size