.policy-title
    font-size policyTitleFontSize

.policy
    display flex
    flex-direction column
    background-color textColor
    color bgColor
    margin 0.1vh 0 miniIndent 0
    align-items center
    padding miniIndent 5vw miniIndent 15vw

.policy__wrap
    display flex
    flex-direction column
    max-width 975px

.policy__text
    padding-bottom 2vw
    font-size policyFS