.offer
    display grid
    grid-template-rows repeat(7, 1fr)
    grid-template-columns repeat(4, 1fr)
    padding 4vw 1vw 0 1vw
    height 88vh

.offer__title
    display flex
    align-items flex-end
    grid-row-start 1
    grid-column-start 1
    grid-row-end 4
    grid-column-end 3

.offer__hi
    display flex
    align-items center
    grid-row-start 4
    grid-column-start 1
    grid-row-end 6
    grid-column-end 3
    font-size offerFontSize

.offer__item3
    display flex
    grid-row-start 6
    grid-column-start 1
    grid-row-end 7
    grid-column-end 5

.offer__button
    width 270px
    height 48px
    font-family headerFont
    font-size footerFontSize

.offer__free
    display flex
    align-items flex-end
    grid-row-start 7
    grid-column-start 1
    grid-row-end 8
    grid-column-end 3

.offer__item42
    display flex
    align-items flex-end
    justify-content space-between
    grid-row-start 7
    grid-column-start 4
    grid-row-end 8
    grid-column-end 5