.offer
    display grid
    grid-template-rows repeat(5, 1fr)
    grid-template-columns repeat(6, 1fr)
    padding 0 1vw 0 1vw
    min-height 92vh
    transform translateZ(0)

.offer__item5
    position absolute
    top -55vh
    right 25vw
    transform translateZ(-1px)

.offer__img
    position absolute
    width 90vw

.offer__item1
    display flex
    flex-direction column
    justify-content flex-end
    grid-row-start 1
    grid-column-start 1
    grid-row-end 4
    grid-column-end 7
    max-width 700px

.offer__hi
    font-size offerFontSize
    margin-top 10px

.offer__item3
    display flex
    align-items center
    grid-row-start 4
    grid-column-start 1
    grid-row-end 5
    grid-column-end 7

.offer__button
    width 13.5vw
    height 2.5vw
    font-family headerFont
    font-size footerFontSize

.offer__free
    display flex
    align-items flex-end
    grid-row-start 5
    grid-column-start 1
    grid-row-end 6
    grid-column-end 6

.offer__item42
    display flex
    align-items flex-end
    justify-content space-between
    grid-row-start 5
    grid-column-start 6
    grid-row-end 6
    grid-column-end 7

.services
    display grid
    grid-template-rows repeat(5, 1fr)
    grid-template-columns repeat(4, 1fr)
    grid-column-gap 2.2vw
    padding 0 1vw 0 1vw
    min-height 78vh
    transform translateZ(0)

.services__item11
    display flex
    align-items center
    justify-content center
    grid-row-start 1
    grid-column-start 2
    grid-row-end 4
    grid-column-end 3

.services__img
    height 18vw

.services__discription
    display flex
    align-items center
    grid-row-start 1
    grid-column-start 3
    grid-row-end 4
    grid-column-end 5
    font-size subTitleFontSize

.services__uxui-h
    display flex
    align-items flex-end
    grid-row-start 4
    grid-column-start 1
    grid-row-end 5
    grid-column-end 2
    padding 0 0 2vw 0

.services__uxui-p
    display flex
    align-items flex-end
    grid-row-start 4
    grid-column-start 1
    grid-row-end 6
    grid-column-end 2

.services__aidentika-h
    display flex
    align-items flex-end
    grid-row-start 4
    grid-column-start 2
    grid-row-end 5
    grid-column-end 3
    padding 0 0 2vw 0

.services__aidentika-p
    display flex
    align-items flex-end
    grid-row-start 4
    grid-column-start 2
    grid-row-end 6
    grid-column-end 3

.services__smm-h
    display flex
    align-items flex-end
    grid-row-start 4
    grid-column-start 3
    grid-row-end 5
    grid-column-end 4
    padding 0 0 2vw 0

.services__smm-p
    display flex
    align-items flex-end
    grid-row-start 4
    grid-column-start 3
    grid-row-end 6
    grid-column-end 4

.services__item24
    display flex
    align-items flex-end
    justify-content flex-end
    grid-row-start 4
    grid-column-start 4
    grid-row-end 6
    grid-column-end 5

.services__button
    width 13.5vw
    height 2.5vw
    font-family headerFont
    font-size servicesFontSize

.cases
    transform translateZ(0)
    min-height 78vh

.cases__title
    padding 0 1vw 0 1vw

.arrow
    width 1.3vw
    height 1.3vw
    margin-left 0.5vw

.cases__items
    display grid
    grid-template-rows repeat(4, 1fr)
    grid-template-columns repeat(6, 1fr)
    min-height 30vh

.cases__item11
    display flex
    align-items center
    grid-row-start 1
    grid-column-start 1
    grid-row-end 2
    grid-column-end 3
    border-top 1px solid
    border-bottom 1px solid
    padding-left 1vw

.cases__item12
    display flex
    align-items center
    grid-row-start 1
    grid-column-start 3
    grid-row-end 2
    grid-column-end 5
    border-top 1px solid
    border-bottom 1px solid

.cases__item13
    display flex
    align-items center
    grid-row-start 1
    grid-column-start 5
    grid-row-end 2
    grid-column-end 7
    border-top 1px solid
    border-bottom 1px solid
    padding-right 1vw

.cases__item21
    display flex
    align-items center
    grid-row-start 2
    grid-column-start 1
    grid-row-end 3
    grid-column-end 3
    border-bottom 1px solid
    padding-left 1vw

.cases__item22
    display flex
    align-items center
    grid-row-start 2
    grid-column-start 3
    grid-row-end 3
    grid-column-end 5
    border-bottom 1px solid

.cases__item23
    display flex
    align-items center
    grid-row-start 2
    grid-column-start 5
    grid-row-end 3
    grid-column-end 7
    border-bottom 1px solid
    padding-right 1vw

.cases__item31
    display flex
    align-items center
    grid-row-start 3
    grid-column-start 1
    grid-row-end 4
    grid-column-end 3
    border-bottom 1px solid
    padding-left 1vw

.cases__item32
    display flex
    align-items center
    grid-row-start 3
    grid-column-start 3
    grid-row-end 4
    grid-column-end 5
    border-bottom 1px solid

.cases__item33
    display flex
    align-items center
    grid-row-start 3
    grid-column-start 5
    grid-row-end 4
    grid-column-end 7
    border-bottom 1px solid
    padding-right 1vw

.cases__item41
    display flex
    align-items center
    grid-row-start 4
    grid-column-start 1
    grid-row-end 5
    grid-column-end 3
    border-bottom 1px solid
    padding-left 1vw

.cases__item42
    display flex
    align-items center
    grid-row-start 4
    grid-column-start 3
    grid-row-end 5
    grid-column-end 5
    border-bottom 1px solid

.cases__item43
    display flex
    align-items center
    grid-row-start 4
    grid-column-start 5
    grid-row-end 5
    grid-column-end 7
    border-bottom 1px solid
    padding-right 1vw

.animSlidein
    animation-name slidein
    animation-duration 0.6s

@keyframes slidein
    from
        transform translateY(50%)
        opacity 0%
        animation-timing-function cubic-bezier(0, 0, .40, 1)
    to
        transform translateY(0)
        opacity 100%