header
    position fixed
    top 0
    z-index 10
    display grid
    grid-template-rows 1fr
    grid-template-columns 1fr 1fr
    grid-column-gap 30px
    width 100vw
    height 13.875vh
    align-items center
    padding 3.2vh 40px 0 40px
    background-color rgba(30, 30, 30, 0.8)
    -webkit-backdrop-filter blur(6px)
    backdrop-filter blur(6px)

.header_opened
    transition transform 0.5s
    transform translateY(0)

.header_closed
    transition transform 0.5s
    transform translateY(-100%)

.header__svg
    grid-column 1/2

.header__logo
    fill #fff
    height 35px

.header__nav
    display flex
    grid-column 2/3
    justify-content space-between

.drop-menu
    display flex
    flex-direction column
    position absolute
    transition height 0.5s 0.4s
    height 0
    margin-top 50px
    transform translateX(-2.5vw)
    overflow hidden
    background-color rgba(30, 30, 30, 0.8)
    -webkit-backdrop-filter blur(6px)
    backdrop-filter blur(6px)

.drop-menu .drop-menu__item
    margin 30px 20px 0 20px

.nav__item1:hover .drop-menu
    transition height 0.5s
    height 175px

.header__item5, .header__burger, .burger-menu
    display none