header
    position sticky
    top 0
    z-index 10
    display grid
    grid-template-rows 1fr
    grid-template-columns repeat(3, 1fr)
    padding 0.5vw 1vw 0 1vw
    font-size menuFontSize
    width 100vw
    background-color rgba(30, 30, 30, 0.8)
    -webkit-backdrop-filter blur(6px)
    backdrop-filter blur(6px)
    transform-style preserve-3d

.header__svg
    display flex
    align-items center
    grid-row-start 1
    grid-column-start 1
    grid-row-end 2
    grid-column-end 2

svg
    height 2.35vw

nav
    display grid
    grid-template-rows 1fr
    grid-template-columns repeat(3, 1fr)

.nav__item1
    display flex
    align-items center
    justify-content center
    grid-row-start 1
    grid-column-start 1
    grid-row-end 2
    grid-column-end 2

.nav__item2
    display flex
    align-items center
    justify-content center
    grid-row-start 1
    grid-column-start 2
    grid-row-end 2
    grid-column-end 3

.nav__item3
    display flex
    align-items center
    justify-content center
    grid-row-start 1
    grid-column-start 3
    grid-row-end 2
    grid-column-end 4

.header__item3
    display flex
    align-items center
    justify-content flex-end
    grid-row-start 1
    grid-column-start 3
    grid-row-end 2
    grid-column-end 4

.header__button
    width 160px
    height 30px
    font-family headerFont