footer(id="foot")
    p.footer__title._anim-items._anim-show-big._anim-no-hide ОБСУДИМ ПРОЕКТ?
    p.footer__item21._anim-items._anim-show-big НАПИШИТЕ МНЕ В МЕССЕНДЖЕРАХ
    .footer__item22
        p._anim-items._anim-show-big #[a.linkUnderLine(href="https://api.whatsapp.com/send/?phone=79022857473&text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%21+%D0%9F%D0%B8%D1%88%D0%B8%D1%82%D0%B5%2C+%D1%8F+%D0%B3%D0%BE%D1%82%D0%BE%D0%B2%D0%B0+%D0%BA+%D1%81%D0%BE%D1%82%D1%80%D1%83%D0%B4%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D1%82%D0%B2%D1%83%29&app_absent=0" target="_blank") WHATSAPP]
        p._anim-items._anim-show-big #[a.linkUnderLine(href="https://t.me/asya_dulova" target="_blank") TELEGRAM]
    p._anim-items._anim-show-big.footer__item23 ИЛИ
    .footer__button.button._anim-items._anim-show-right._anim-no-hide #[a(href="mailto:me@asyadulova.ru?subject=Запись на консультацию") НАПИШИТЕ&nbsp;НА&nbsp;ПОЧТУ]
    p.footer__item31._anim-items._anim-show-big © 2022 АСЯ ДУЛОВА<br>UX/UI ДИЗАЙНЕР
    p.footer__item32._anim-items._anim-show-big СОЦСЕТИ<br>#[a.linkUnderLine(href="https://www.behance.net/asyadulova" target="_blank") BEHANCE], #[a.linkUnderLine(href="https://vk.com/asyadulova" target="_blank") VK], #[a.linkUnderLine(href="https://tenchat.ru/asyadulova" target="_blank") TENCHAT]
    p.footer__item33._anim-items._anim-show-big #[a.linkUnderLine(href="../policy") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ]