footer
    .footer__title
        h2 ОБСУДИМ ПРОЕКТ?
    p.footer__item21 НАПИШИТЕ МНЕ В МЕССЕНДЖЕРАХ
    .footer__item22
        p #[a(href="") WHATSAPP], #[a(href="") TELEGRAM]
    p.footer__item23 ИЛИ
    .footer__item24
        button.footer__button ОСТАВТЕ ЗАЯВКУ
    .footer__item31
        p © 2022 АСЯ ДУЛОВА
        p UX/UI ДИЗАЙНЕР
    .footer__item32
        p СОЦСЕТИ<br>#[a(href="") BEHANCE], #[a(href="") VK], #[a(href="") TENCHAT]
    p.footer__item33 ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ