// Хедер
@import 'header/header.styl'

// Футер
@import 'footer/footer.styl'

// Навигация
@import 'navigation/navigation.styl'

//Кнопки
@import "buttons/buttons.styl"

//Заголовки
@import "titles/titles.styl"