extends ../layout/main

block variables
	- var title = 'Ася Дулова'
	- var pageClass = 'index-page'

block content
	.offer
		h1.offer__title.animSlidein САЙТЫ И ДИЗАЙН ДЛЯ БИЗНЕСА
		p.offer__hi Привет, я Ася Дулова, UX/UI и веб-дизайнер из Архангельска. В настоящее время дизайню на фрилансе и помогаю брендам и бизнесам быть яркими, удобными и уникальными.
		.offer__item3
			a.button.offer__button(href="#serv") ОБО МНЕ
		p.offer__free СВОБОДНА ДЛЯ ПРОЕКТОВ НА ИЮНЬ 2022
		.offer__item42
			a.linkUnderLine(href="https://www.behance.net/asyadulova" target="_blank") BEHANCE
			a.linkUnderLine(href="https://vk.com/asyadulova" target="_blank") VK
			a.linkUnderLine(href="https://tenchat.ru/asyadulova" target="_blank") TENCHAT
	.offer__item5
		img.offer__img(src="static/img/content/circle.png", alt="circle")

	.services(id="serv")
		.services__item11
			img(src="static/img/content/asya.png" alt="Ася" class="services__img")
		p.services__discription Я UX/UI и веб-дизайнер с навыками маркетинга. В своей работе я создаю не просто красивую картинку, а эффектную и стильную упаковку для бизнеса онлайн и оффлайн.<br>Мне нравится работать с проектами и людьми, которые хотят стать ближе для своих клиентов и рассказывать им о себе ярко и удобно.
		h3.services__uxui-h UX/UI ДИЗАЙН
		p.services__uxui-p Я разрабатываю разные виды веб-проектов в зависимости от задач бизнеса: лендинги, сайты-визитки, интернет-магазины и другие.<br>В создании сайта для меня главное — соблюсти баланс между интересным дизайном и его удобством для зрителя.
		h3.services__aidentika-h АЙДЕНТИКА
		p.services__aidentika-p Мне нравится выражать идеи и настроение бизнеса через цвета, шрифты и визуальные образы. Это помогает при создании айдентики, которая формирует имидж бренда в глазах клиентов, вызывает их доверие и лояльность.
		h3.services__smm-h SMM И РЕКЛАМА
		p.services__smm-p Я постоянно улучшаю навыки в дизайне и маркетинге, чтобы помогать бизнесу с оформлением в Интернете.<br>Разрабатываю яркие рекламные макеты и оформление соцсетей, чтобы зацепить и заинтересовать аудиторию.
		.services__item24
			a.button.services__button(href="../services.html") ВСЕ УСЛУГИ

	.cases
		h2.cases__title ПОСЛЕДНИЕ РАБОТЫ
		.cases__items
			.cases__item11
				a.linkUnderLine(href="http://kuzmol29.tilda.ws/" target="_blank") КУЗНЕЦЫ МОЛОДЦЫ
				svg.arrow(viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(d="M2 22L22 2" stroke="white" stroke-width="3")
					path(d="M1 2H22.5V23" stroke="white" stroke-width="3")
			p.cases__item12 05/2022
			p.cases__item13 Сайт-визитка для студии сварки и ковки
			.cases__item21
				a.linkUnderLine(href="" target="_blank") ASYA DULOVA
				svg.arrow(viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(d="M2 22L22 2" stroke="white" stroke-width="3")
					path(d="M1 2H22.5V23" stroke="white" stroke-width="3")
			p.cases__item22 04/2022
			p.cases__item23 Персональный сайт-визитка и логотип для дизайнера
			.cases__item31
				a.linkUnderLine(href="https://www.behance.net/gallery/123167773/UIV-production" target="_blank") UIV PRODUCTION
				svg.arrow(viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(d="M2 22L22 2" stroke="white" stroke-width="3")
					path(d="M1 2H22.5V23" stroke="white" stroke-width="3")
			p.cases__item32 07/2021
			p.cases__item33 Нейминг, логотип, айдентика для студии видеопродакшена
			.cases__item41
				a.linkUnderLine(href="https://www.behance.net/gallery/140243567/onlajn-forum-krasivyj-biznes-2022" target="_blank") КРАСИВЫЙ БИЗНЕС
				svg.arrow(viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(d="M2 22L22 2" stroke="white" stroke-width="3")
					path(d="M1 2H22.5V23" stroke="white" stroke-width="3")
			p.cases__item42 02/2022
			p.cases__item43 Лендинг онлайн-форума в сфере бьюти и макеты для таргета