extends ../layout/main

block variables
	- var title = 'Ася Дулова. Сайты под ключ'
	- var pageClass = 'index-page'

block content
	.offer
		.offer__bg.offer__bg_main-grad
			img.offer__img(src="static/img/content/mainAsya.jpg" alt="Ася")
		.offer__bg-mobile.offer__bg-mobile_main-grad
			img.offer__img(src="static/img/content/mainAsyaMobile.jpg" alt="Ася")
		p.offer__hi Привет, я Ася Дулова, UX/UI дизайнер из&nbsp;Архангельска. В&nbsp;настоящее время дизайню на фрилансе и вместе со&nbsp;своей командой помогаю брендам и бизнесам быть яркими, удобными и&nbsp;уникальными.
		h1.offer__title.offer__title_bottom САЙТЫ<br>И&nbsp;ДИЗАЙН ДЛЯ&nbsp;БИЗНЕСА
		.offer__wrap
			p.offer__free СВОБОДНА ДЛЯ ПРОЕКТОВ НА ИЮЛЬ 2022

	.main-services(id="serv")
		.main-services__item11
			img.main-services__img(src="static/img/content/asya.png" alt="Ася")
		p.main-services__discription Я UX/UI дизайнер с навыками маркетинга. В своей работе я создаю не просто красивую картинку, а эффективную и стильную упаковку для бизнеса онлайн и оффлайн.<br>Мне нравится работать с проектами и людьми, которые хотят стать ближе для своих клиентов, рассказывать им о себе ярко, красиво и удобно.
		.main-services__all-services
			.main-services__title.main-services__title_uxui
				.circle
				h3.main-services__uxui-h UX/UI ДИЗАЙН
			p.main-services__uxui-p Я разрабатываю разные виды веб-проектов в зависимости от задач бизнеса: лендинги, сайты-визитки, интернет-магазины и другие. В создании сайта для меня главное — соблюсти баланс между интересным дизайном и его удобством для зрителя.
			.main-services__title.main-services__title_aidentika
				.circle
				h3.main-services__aidentika-h АЙДЕНТИКА
			p.main-services__aidentika-p Мне нравится выражать идеи и настроение бизнеса через цвета, шрифты и визуальные образы. Это помогает при создании айдентики, которая формирует имидж бренда в глазах клиентов, вызывает их доверие и лояльность.
			.main-services__title.main-services__title_smm
				.circle
				h3.main-services__smm-h SMM И РЕКЛАМА
			p.main-services__smm-p Я постоянно улучшаю навыки в дизайне и маркетинге, чтобы помогать бизнесу с оформлением в Интернете.<br>Разрабатываю яркие рекламные макеты и оформление соцсетей, чтобы зацепить и заинтересовать аудиторию.
		.main-services__item24
			a.button.main-services__button(href="../services") ВСЕ УСЛУГИ
	.cases-arrow.cases-arrow_main-services
		.line
		a.button.cases-arrow__button(href="../services") ВСЕ УСЛУГИ

	.white-block(id="white-block_1")
		.cases-title-wrap
			h2.cases-title МОИ РАБОТЫ
			.cases-hint
				p.cases-text ТЯНИ МЫШКОЙ
				.cases-svg-wrap
					svg.cases-svg(viewBox="0 0 438 23" xmlns="http://www.w3.org/2000/svg")
						line(y1="11.5" x2="437" y2="11.5")
						path(d="M426 0.5L437 11.5L426 22.5" stroke-linecap="round")
		.casesGrab.carousel
			a.card.card__grab(href="../index.php" target="_blank")
				.card-head
					span.card-name Asya Dulova
					span.card-date 05/2022
				p.card-disc Персональный сайт-визитка<br>для UX/UI дизайнера
				.card-tag.card-tag_tag21 UX/UI, Веб-дизайн
				.card-tag.card-tag_tag22 Сайт-визитка
			a.card.card__grab(href="http://pridebarbershop.tilda.ws/" target="_blank")
				.card-head
					span.card-name Барбершоп PRIDE
					span.card-date 06/2022
				p.card-disc Лендинг<br>для мужской парикмахерской в Архангельске
				.card-tag.card-tag_tag21 UX/UI, Веб-дизайн
				.card-tag.card-tag_tag22 Лендинг
			a.card.card__grab(href="http://kuzmol29.tilda.ws/" target="_blank")
				.card-head
					span.card-name Кузнецы Молодцы
					span.card-date 04/2022
				p.card-disc Сайт-визитка<br>для студии сварки и ковки
				.card-tag.card-tag_tag21 Веб-дизайн
				.card-tag.card-tag_tag22 Сайт-визитка
			a.card.card__grab(href="https://www.behance.net/gallery/140243567/onlajn-forum-krasivyj-biznes-2022" target="_blank")
				.card-head
					span.card-name Красивый Бизнес
					span.card-date 02/2022
				p.card-disc Лендинг<br>для онлайн форума в сфере бьюти
				.card-tag.card-tag_tag31 Веб-дизайн
				.card-tag.card-tag_tag32 Лендинг
				.card-tag.card-tag_tag33 SMM
			a.card.card__grab(href="https://www.behance.net/gallery/123167773/UIV-production" target="_blank")
				.card-head
					span.card-name UIV Production
					span.card-date 07/2021
				p.card-disc Нейминг, логотип, айдентика<br>для студии видеопродакшена
				.card-tag.card-tag_tag31 Брендинг
				.card-tag.card-tag_tag32 Логотип
				.card-tag.card-tag_tag33 Айдентика
			a.card.card__grab(href="https://www.behance.net/gallery/116807759/kafedra-s%28a%29fu-imeni-mv-lomonosova" target="_blank")
				.card-head
					span.card-name КПИиИБ САФУ
					span.card-date 05/2021
				p.card-disc Логотип, айдентика и макеты<br>для кафедры университета
				.card-tag.card-tag_tag31 Брендинг
				.card-tag.card-tag_tag32 Айдентика
				.card-tag.card-tag_tag33 Полиграфия
		.cases-arrow
			.line
			a.button.cases-arrow__button(href="../portfolio") ВСЕ КЕЙСЫ

		.about
			.about__education
				.about__education-title
					.circle.circle_about
					span ОБРАЗОВАНИЕ
				p.about__narfu САФУ, Высшая школа информационных технологий и автоматизированных систем, специальность «Разработчик Web и мультимедийных приложений», бакалавр, 2018-2022 гг.
				p.about__samsung Программа обучения «IT Академия Samsung: Мобильная разработка», разработчик мобильных приложений для платформы Android на языке программирования Java, сентябрь 2020-май 2021
				.about__skills
					.about__skills-title
						.circle.circle_about
						span НАВЫКИ
					.about__all-skills
						p PHOTOSHOP
						p HTML
						p.about__prototype PROTOTYPE/ANALYTICS
						p ILLUSTRATOR
						p CSS
						p UX
						p FIGMA
						p JAVASCRIPT
						p UI
			.about__clients
				.about__clients-title
					.circle.circle_about
					span КЛИЕНТЫ
				.about__all-clients
					p АДМИНИСТРАЦИЯ АО
					p UIV PRODUCTION
					p КАФЕДА ПИИБ САФУ
					p АРР АО
					p BARBERSHOP PRIDE
					p SAN PAOLO PRODUCTION GROUP
					p МЭР Г. АРХАНГЕЛЬСКА
					p КУЗНЕЦЫ МОЛОДЦЫ
					p БИЗНЕС-ФОРУМ «СО-ДЕЙСТВИЕ»

	.terms
		h2.terms__title УСЛОВИЯ СОТРУДНИЧЕСТВА
		.terms__all-wrap
			.terms__all
				.term
					.top-line
					.term__name
						.circle.circle_about
						span БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ
					p До начала работы я всегда провожу бесплатную консультацию (30−40 мин.) в удобном для Вас формате: личная встреча (Архангельск), видеосозвон, либо по переписке.<br><br>Предлагаю несколько вариантов сотрудничества и подбираем наиболее выгодный Вам.
				.term
					.top-line
					.term__name
						.circle.circle_about
						span ПРЕДОПЛАТА
					p Работаю по 50% предоплате (до начала работы, после заключения договора), либо по поэтапной предоплате. Возврат предоплаты за выполненный этап или его часть НЕ осуществляется.<br><br>После завершения работы и оплаты оставшейся части суммы я передаю Вам права на разработанные макеты/айдентику/сайт.
				.term
					.top-line
					.term__name
						.circle.circle_about
						span ГАРАНТИИ
					p Для Вашего спокойствия и полной прозрачности работы заключается договор подряда, в котором прописывается объем работ, их этапы, сроки и стоимость. Этот документ защищает Вас, как заказчика, и меня, как исполнителя.<br><br>Я присылаю вам подписанный файл договора в формате PDF. Также потребуется Ваша подпись.
				.term
					.top-line
					.term__name
						.circle.circle_about
						span ПОЭТАПНАЯ РАБОТА И ПРАВКИ
					p Сотрудничество происходит поэтапно. Подробнее об этапах можно узнать тут.<br><br>Для всех услуг предусмотрено бесплатное количество правок для каждого из этапов работы. Дополнительные правки осуществляются на платной основе. Правки ранее согласованных этапов не осуществляются.
				.term
					.top-line
					.term__name
						.circle.circle_about
						span ПОДДЕРЖКА САЙТА
					p Возможна поддержка сайта после разработки, а именно наполнение/добавление/изменение страниц по мере необходимости.<br><br>Условия поддержки и оплата обсуждаются индивидуально.
				.term
					.top-line
					.term__name
						.circle.circle_about
						span ССЫЛКА В ПОДВАЛЕ САЙТА
					p При разработке сайта я указываю свои контакты мелким шрифтом (в формате ссылки на разработчика в подвале сайта). В случае, если этот момент принципиален, и вы не хотите видеть эту часть сайта, то производится доплата в размере 30% от разработки сайта.
	h2.terms-grab__title УСЛОВИЯ СОТРУДНИЧЕСТВА
	.carousel.terms-grab
		.carousel-cell
			h3.carousel-cell__num /1
			h3.carousel-cell__name БЕСПЛАТНАЯ<br>КОНСУЛЬТАЦИЯ
			p.carousel-cell__desc До начала работы я всегда провожу бесплатную консультацию (30−40&nbsp;мин.) в удобном для Вас формате: личная встреча (Архангельск), видеосозвон, либо по&nbsp;переписке. Предлагаю несколько вариантов сотрудничества и подбираем наиболее выгодный&nbsp;Вам.
		.carousel-cell
			h3.carousel-cell__num /2
			h3.carousel-cell__name РАБОТА<br>ПО&nbsp;ПРЕДОПЛАТЕ
			p.carousel-cell__desc Работаю по 50% предоплате (до начала работы, после заключения договора), либо по поэтапной предоплате. Возврат предоплаты за выполненный этап или его часть НЕ осуществляется. После завершения работы и оплаты оставшейся части суммы я передаю Вам права на разработанные макеты/айдентику/сайт.
		.carousel-cell
			h3.carousel-cell__num /3
			h3.carousel-cell__name ПОДПИСЫВАЕМ<br>ДОГОВОР
			p.carousel-cell__desc Для Вашего спокойствия и полной прозрачности работы заключается договор подряда, в котором прописывается объем работ, их&nbsp;этапы, сроки и стоимость. Этот документ защищает Вас, как заказчика, и меня, как исполнителя. Я присылаю вам подписанный файл договора в&nbsp;формате PDF. Также потребуется Ваша&nbsp;подпись.
		.carousel-cell
			h3.carousel-cell__num /4
			h3.carousel-cell__name ПОЭТАПНАЯ РАБОТА<br>И&nbsp;ПРАВКИ
			p.carousel-cell__desc Сотрудничество происходит поэтапно. Подробнее об&nbsp;этапах можно узнать тут. Для всех услуг предусмотрено бесплатное количество правок для&nbsp;каждого из&nbsp;этапов работы. Дополнительные правки осуществляются на&nbsp;платной основе. Правки ранее согласованных этапов не&nbsp;осуществляются.
		.carousel-cell
			h3.carousel-cell__num /5
			h3.carousel-cell__name ПОДДЕРЖКА<br>САЙТА
			p.carousel-cell__desc Возможна поддержка сайта после разработки, а&nbsp;именно наполнение/добавление/изменение страниц по мере необходимости. Условия поддержки и оплата обсуждаются индивидуально.
		.carousel-cell
			h3.carousel-cell__num /6
			h3.carousel-cell__name ССЫЛКА<br>В&nbsp;ПОДВАЛЕ САЙТА
			p.carousel-cell__desc При разработке сайта я указываю свои контакты мелким шрифтом (в&nbsp;формате ссылки на разработчика в подвале сайта). В&nbsp;случае, если этот момент принципиален, и вы не&nbsp;хотите видеть эту часть сайта, то&nbsp;производится доплата в размере 30% от разработки&nbsp;сайта.