extends ../layout/main

block variables
	- var title = 'Ася Дулова. Сайты под ключ'
	- var pageClass = 'index-page'

block content
	.offer.offer_main
		picture.offer__bg.offer__bg_main.offer__bg_main-grad
			source(srcset="static/img/content/mainAsya.webp" type="image/webp")
			img.offer__img(src="static/img/content/mainAsya.jpg" alt="Ася")
		picture.offer__bg-mobile.offer__bg-mobile_main-grad
			source(srcset="static/img/content/mainAsyaMobile.webp" type="image/webp")
			img.offer__img(src="static/img/content/mainAsyaMobile.jpg" alt="Ася")
		p.offer__hi.offer__hi_main Привет, я Ася Дулова, UX/UI дизайнер из&nbsp;Архангельска. В&nbsp;настоящее время дизайню на фрилансе и вместе со&nbsp;своей командой помогаю брендам и бизнесам быть яркими, удобными и&nbsp;уникальными.
		h1.offer__title.offer__title_main САЙТЫ<br>И&nbsp;ДИЗАЙН ДЛЯ&nbsp;БИЗНЕСА
		.offer__wrap.offer__wrap_main
			p.offer__free СВОБОДНА ДЛЯ ПРОЕКТОВ НА АВГУСТ 2022

	.main-services(id="serv")
		.main-services__wrap._anim-items._anim-show
			picture.main-services__item11
				source(srcset="static/img/content/asya.webp" type="image/webp")
				img.main-services__img(src="static/img/content/asya.png" alt="Ася")
			p.main-services__discription Я UX/UI дизайнер с навыками маркетинга. В своей работе я создаю не просто красивую картинку, а эффективную и стильную упаковку для бизнеса онлайн и оффлайн.<br>Мне нравится работать с проектами и людьми, которые хотят стать ближе для своих клиентов, рассказывать им о себе ярко, красиво и удобно.
		picture.main-services__item11.main-services__item11_mobile
			source(srcset="static/img/content/asya.webp" type="image/webp")
			img.main-services__img.main-services__img_mobile(src="static/img/content/asya.png" alt="Ася")
		p.main-services__discription.main-services__discription_mobile._anim-items._anim-show Я UX/UI дизайнер с навыками маркетинга. В своей работе я создаю не просто красивую картинку, а эффективную и стильную упаковку для бизнеса онлайн и оффлайн.<br>Мне нравится работать с проектами и людьми, которые хотят стать ближе для своих клиентов, рассказывать им о себе ярко, красиво и удобно.
		.main-services__all-services
			.main-services__first
				.top-line._anim-items._anim-show-opacity
			.main-services__title.main-services__title_uxui._anim-items._anim-show-huge
				.circle
				h3.main-services__uxui-h UX/UI ДИЗАЙН
			p.main-services__uxui-p._anim-items._anim-show-big Я разрабатываю разные виды веб-проектов в зависимости от задач бизнеса: лендинги, сайты-визитки, интернет-магазины и другие. В создании сайта для меня главное — соблюсти баланс между интересным дизайном и его удобством для зрителя.
			.main-services__second
				.top-line._anim-delay-one._anim-items._anim-show-opacity
			.main-services__title.main-services__title_aidentika._anim-delay-one._anim-items._anim-show-huge
				.circle
				h3.main-services__aidentika-h АЙДЕНТИКА
			p.main-services__aidentika-p._anim-delay-one._anim-items._anim-show-big Мне нравится выражать идеи и настроение бизнеса через цвета, шрифты и визуальные образы. Это помогает при создании айдентики, которая формирует имидж бренда в глазах клиентов, вызывает их доверие и лояльность.
			.main-services__third
				.top-line._anim-delay-two._anim-items._anim-show-opacity
			.main-services__title.main-services__title_smm._anim-delay-two._anim-items._anim-show-huge
				.circle
				h3.main-services__smm-h SMM И РЕКЛАМА
			p.main-services__smm-p._anim-delay-two._anim-items._anim-show-big Я постоянно улучшаю навыки в дизайне и маркетинге, чтобы помогать бизнесу с оформлением в Интернете.<br>Разрабатываю яркие рекламные макеты и оформление соцсетей, чтобы зацепить и заинтересовать аудиторию.
		.main-services__item24._anim-delay-three._anim-items._anim-show-right._anim-no-hide
			a.button.main-services__button(href="../services") ВСЕ УСЛУГИ
	.cases-arrow.cases-arrow_main-services
		.line._anim-items._anim-show-center._anim-no-hide
		a.button.cases-arrow__button(href="../services") ВСЕ УСЛУГИ

	.white-block(id="white-block_1")
		.cases-title-wrap
			h2.cases-title._anim-items._anim-show-big._anim-no-hide МОИ РАБОТЫ
			.cases-hint
				p.cases-text ТЯНИ МЫШКОЙ
				.cases-svg-wrap
					svg.cases-svg(viewBox="0 0 438 23" xmlns="http://www.w3.org/2000/svg")
						line(y1="11.5" x2="437" y2="11.5")
						path(d="M426 0.5L437 11.5L426 22.5" stroke-linecap="round")
		.casesGrab.carousel
			a.card__grab._anim-items._anim-show-opacity._anim-no-hide(href="../index.php" target="_blank")
				picture.card__grab-img
					source(srcset="static/img/content/asya_skin.webp" type="image/webp")
					img(src="static/img/content/asya_skin.jpg" alt="Asya Dulova")
				.card__grab-shadow-low
				.card__grab-shadow
				.card__grab-tags
					p.card__grab-tag.card__grab-tag1 UX/UI
					p.card__grab-tag.card__grab-tag2 Веб-дизайн
					p.card__grab-tag.card__grab-tag3 Сайт
				.card__grab-foot
					.card__grab-name Asya Dulova
					.card__grab-line
					p.card__grab-desc Персональный сайт-визитка для UX/UI дизайнера
					.card__grab-foot_tags
						.card__grab-foot_tag.card__grab-foot_tag31 UX/UI
						.card__grab-foot_tag.card__grab-foot_tag32 Веб-дизайн
						.card__grab-foot_tag.card__grab-foot_tag33 Сайт
			a.card__grab._anim-delay-one._anim-items._anim-show-opacity._anim-no-hide(href="http://pridebarbershop.tilda.ws/" target="_blank")
				picture.card__grab-img
					source(srcset="static/img/content/bs_skin.webp" type="image/webp")
					img(src="static/img/content/bs_skin.jpg" alt="Барбершоп PRIDE")
				.card__grab-shadow-low
				.card__grab-shadow
				.card__grab-tags
					p.card__grab-tag.card__grab-tag1 Веб-дизайн
					p.card__grab-tag.card__grab-tag2 Сайт
				.card__grab-foot
					.card__grab-name Барбершоп PRIDE
					.card__grab-line
					p.card__grab-desc Экспресс-сайт для барбершопа
					.card__grab-foot_tags
						.card__grab-foot_tag.card__grab-foot_tag21 Веб-дизайн
						.card__grab-foot_tag.card__grab-foot_tag22 Сайт
			a.card__grab._anim-delay-two._anim-items._anim-show-opacity._anim-no-hide(href="http://kuzmol29.tilda.ws/" target="_blank")
				picture.card__grab-img
					source(srcset="static/img/content/km_skin.webp" type="image/webp")
					img(src="static/img/content/km_skin.jpg" alt="Кузнецы Молодцы")
				.card__grab-shadow-low
				.card__grab-shadow
				.card__grab-tags
					p.card__grab-tag.card__grab-tag1 Веб-дизайн
					p.card__grab-tag.card__grab-tag2 Сайт
				.card__grab-foot
					.card__grab-name Кузнецы Молодцы
					.card__grab-line
					p.card__grab-desc Сайт-визитка для студии сварки и ковки
					.card__grab-foot_tags
						.card__grab-foot_tag.card__grab-foot_tag21 Веб-дизайн
						.card__grab-foot_tag.card__grab-foot_tag22 Сайт
			a.card__grab._anim-delay-three._anim-items._anim-show-opacity._anim-no-hide(href="https://www.behance.net/gallery/140243567/onlajn-forum-krasivyj-biznes-2022" target="_blank")
				picture.card__grab-img
					source(srcset="static/img/content/bb_skin.webp" type="image/webp")
					img(src="static/img/content/bb_skin.jpg" alt="Красивый Бизнес")
				.card__grab-shadow-low
				.card__grab-shadow
				.card__grab-tags
					p.card__grab-tag.card__grab-tag1 Веб-дизайн
					p.card__grab-tag.card__grab-tag2 Лендинг
					p.card__grab-tag.card__grab-tag3 SMM
				.card__grab-foot
					.card__grab-name Красивый Бизнес
					.card__grab-line
					p.card__grab-desc Лендинг для онлайн форума в сфере бьюти
					.card__grab-foot_tags
						.card__grab-foot_tag.card__grab-foot_tag31 Веб-дизайн
						.card__grab-foot_tag.card__grab-foot_tag32 Лендинг
						.card__grab-foot_tag.card__grab-foot_tag33 SMM
			a.card__grab(href="https://www.behance.net/gallery/123167773/UIV-production" target="_blank")
				picture.card__grab-img
					source(srcset="static/img/content/uiv_skin.webp" type="image/webp")
					img(src="static/img/content/uiv_skin.jpg" alt="UIV Production")
				.card__grab-shadow-low
				.card__grab-shadow
				.card__grab-tags
					p.card__grab-tag.card__grab-tag1 Нейминг
					p.card__grab-tag.card__grab-tag2 Логотип
					p.card__grab-tag.card__grab-tag3 Айдентика
				.card__grab-foot
					.card__grab-name UIV Production
					.card__grab-line
					p.card__grab-desc Нейминг, логотип, айдентика для видеопродакшена
					.card__grab-foot_tags
						.card__grab-foot_tag.card__grab-foot_tag31 Нейминг
						.card__grab-foot_tag.card__grab-foot_tag32 Логотип
						.card__grab-foot_tag.card__grab-foot_tag33 Айдентика
			a.card__grab(href="https://www.behance.net/gallery/116807759/kafedra-s%28a%29fu-imeni-mv-lomonosova" target="_blank")
				picture.card__grab-img
					source(srcset="static/img/content/narfu_skin.webp" type="image/webp")
					img(src="static/img/content/narfu_skin.jpg" alt="КПИиИБ САФУ")
				.card__grab-shadow-low
				.card__grab-shadow
				.card__grab-tags
					p.card__grab-tag.card__grab-tag1 Логотип
					p.card__grab-tag.card__grab-tag2 Айдентика
					p.card__grab-tag.card__grab-tag3 Полиграфия
				.card__grab-foot
					.card__grab-name КПИиИБ САФУ
					.card__grab-line
					p.card__grab-desc Айдентика и полиграфия для кафедры университета
					.card__grab-foot_tags
						.card__grab-foot_tag.card__grab-foot_tag31 Логотип
						.card__grab-foot_tag.card__grab-foot_tag32 Айдентика
						.card__grab-foot_tag.card__grab-foot_tag33 Полиграфия
		.cases-arrow
			.line._anim-items._anim-show-center._anim-no-hide
			a.button.cases-arrow__button(href="../portfolio") ВСЕ КЕЙСЫ

		.about
			.about__education
				.top-line.top-line_about._anim-items._anim-show-left._anim-no-hide
				.about__education-title._anim-items._anim-show
					.circle.circle_about
					span ОБРАЗОВАНИЕ
				p.about__narfu._anim-items._anim-show САФУ, Высшая школа информационных технологий и автоматизированных систем, специальность «Разработчик Web и мультимедийных приложений», бакалавр, 2018-2022 гг.
				p.about__samsung._anim-items._anim-show Программа обучения «IT Академия Samsung: Мобильная разработка», разработчик мобильных приложений для платформы Android на языке программирования Java, сентябрь 2020-май 2021
				.about__skills
					.top-line._anim-items._anim-show-left._anim-no-hide
					.about__skills-title._anim-items._anim-show
						.circle.circle_about
						span НАВЫКИ
					.about__all-skills
						p._anim-items._anim-show PHOTOSHOP
						p._anim-items._anim-show HTML
						p._anim-items._anim-show.about__prototype PROTOTYPE/ANALYTICS
						p._anim-items._anim-show ILLUSTRATOR
						p._anim-items._anim-show CSS
						p._anim-items._anim-show UX
						p._anim-items._anim-show FIGMA
						p._anim-items._anim-show JAVASCRIPT
						p._anim-items._anim-show UI
			.about__clients
				.top-line.top-line_about._anim-items._anim-show-left._anim-no-hide
				.about__clients-title._anim-items._anim-show
					.circle.circle_about
					span КЛИЕНТЫ
				.about__all-clients
					p._anim-items._anim-show АДМИНИСТРАЦИЯ АО
					p._anim-items._anim-show UIV PRODUCTION
					p._anim-items._anim-show КАФЕДА ПИИБ САФУ
					p._anim-items._anim-show АРР АО
					p._anim-items._anim-show BARBERSHOP PRIDE
					p._anim-items._anim-show SAN PAOLO PRODUCTION GROUP
					p._anim-items._anim-show МЭР Г. АРХАНГЕЛЬСКА
					p._anim-items._anim-show КУЗНЕЦЫ МОЛОДЦЫ
					p._anim-items._anim-show БИЗНЕС-ФОРУМ «СО-ДЕЙСТВИЕ»

	h2.terms-grab__title УСЛОВИЯ СОТРУДНИЧЕСТВА
	.carousel.terms-grab
		.carousel-cell
			h3.carousel-cell__num /1
			h3.carousel-cell__name ОТНОШЕНИЕ<br>К&nbsp;ПРОЕКТАМ
			p.carousel-cell__desc В&nbsp;проекте мы с&nbsp;вами - партнеры, идущие к&nbsp;общей цели: вы доверяете мне задачу, которую я решаю.<br><br>Мы&nbsp;уважаем друг друга и работаем над решением задачи совместно, каждый со&nbsp;своей&nbsp;стороны.
		.carousel-cell
			h3.carousel-cell__num /2
			h3.carousel-cell__name РАБОТА<br>ПО&nbsp;ПРЕДОПЛАТЕ
			p.carousel-cell__desc Я работаю по&nbsp;50% предоплате, также возможна разбивка на&nbsp;этапы.<br><br>Для меня предоплата — ответственность за&nbsp;проект: и с&nbsp;моей стороны, и со&nbsp;стороны&nbsp;заказчика.
		.carousel-cell
			h3.carousel-cell__num /3
			h3.carousel-cell__name ПОДПИСЫВАЕМ<br>ДОГОВОР
			p.carousel-cell__desc Для полной прозрачности работы заключается договор подряда, в&nbsp;котором прописывается объем работ, их&nbsp;этапы, сроки и&nbsp;стоимость.<br><br>Этот документ защищает вас, как заказчика, и меня, как&nbsp;исполнителя.
		.carousel-cell
			h3.carousel-cell__num /4
			h3.carousel-cell__name ПОЭТАПНАЯ РАБОТА<br>И&nbsp;ПРАВКИ
			p.carousel-cell__desc Сотрудничество происходит поэтапно. Подробнее об&nbsp;этапах можно #[a.linkUnderLine(id="stage2" href="#") узнать тут].<br><br>Для всех услуг предусмотрено бесплатное количество правок для&nbsp;каждого из&nbsp;этапов работы.
		.carousel-cell
			h3.carousel-cell__num /5
			h3.carousel-cell__name ПОДДЕРЖКА<br>САЙТА
			p.carousel-cell__desc Возможна поддержка сайта после разработки, а&nbsp;именно наполнение/добавление/изменение страниц по мере необходимости.<br><br>Условия поддержки и оплата обсуждаются индивидуально.
		.carousel-cell
			h3.carousel-cell__num /6
			h3.carousel-cell__name ССЫЛКА<br>В&nbsp;ПОДВАЛЕ САЙТА
			p.carousel-cell__desc Я указываю свои контакты как разработчика мелким шрифтом в&nbsp;подвале сайта.<br><br>В&nbsp;случае, если вы не&nbsp;хотите видеть эту ссылку, то&nbsp;производится доплата в&nbsp;размере 30% от&nbsp;разработки&nbsp;сайта.