extends ../layout/main

block variables
	- var title = 'Ася Дулова'
	- var pageClass = 'index-page'

block content
	.mainPage
		.offer
			h1.offer__title САЙТЫ И ДИЗАЙН ДЛЯ БИЗНЕСА
			p.offer__hi ПРИВЕТ, Я АСЯ ДУЛОВА, UX/UI ДИЗАЙНЕР ИЗ АРХАНГЕЛЬСКА. В НАСТОЯЩЕЕ ВРЕМЯ ДИЗАЙНЮ НА ФРИЛАНСЕ И ПОМОГАЮ БРЕНДАМ И БИЗНЕСАМ БЫТЬ ЯРКИМИ, УДОБНЫМИ И УНИКАЛЬНЫМИ.
			.offer__item3
				button.offer__button ОБО МНЕ
			p.offer__free СВОБОДНА ДЛЯ ПРОЕКТОВ НА ИЮНЬ 2022
			.offer__item42
				a(href="") BEHANCE
				a(href="") VK
				a(href="") TENCHAT
		.services
			.services__item11
				img(src="static/img/content/asya.png" alt="Ася" class="services__img")
			p.services__discription Я UX/UI ДИЗАЙНЕР С НАВЫКАМИ МАРКЕТИНГА. В СВОЕЙ РАБОТЕ Я СОЗДАЮ НЕ ПРОСТО КРАСИВУЮ КАРТИНКУ, А ЭФФЕКТИВНУЮ И СТИЛЬНУЮ УПАКОВКУ ДЛЯ БИЗНЕСА ОНЛАЙН И ОФФЛАЙН.<br>МНЕ НРАВИТСЯ РАБОТАТЬ С ПРОЕКТАМИ И ЛЮДЬМИ, КОТОРЫЕ ХОТЯТ СТАТЬ БЛИЖЕ ДЛЯ СВОИХ КЛИЕНТОВ, РАССКАЗЫВАТЬ ИМ О СЕБЕ ЯРКО И УДОБНО.
			h3.services__uxui-h UX/UI ДИЗАЙН
			p.services__uxui-p Я разрабатываю разные виды веб-проектов в зависимости от задач бизнеса: лендинги, сайты-визитки, интернет-магазины и другие.<br>В создании сайта для меня главное — соблюсти баланс между интересным дизайном и его удобством для зрителя.
			h3.services__aidentika-h АЙДЕНТИКА
			p.services__aidentika-p Мне нравится выражать идеи и настроение бизнеса через цвета, шрифты и визуальные образы. Это помогает при создании айдентики, которая формирует имидж бренда в глазах клиентов, вызывает их доверие и лояльность.
			h3.services__smm-h SMM И РЕКЛАМА
			p.services__smm-p Я постоянно улучшаю навыки в дизайне и маркетинге, чтобы помогать бизнесу с оформлением в Интернете.<br>Разрабатываю яркие рекламные макеты и оформление соцсетей, чтобы зацепить и заинтересовать аудиторию.
			.services__item24
				button.services__button ВСЕ УСЛУГИ