extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.offer
		h1.offer__title САЙТЫ И ДИЗАЙН ДЛЯ БИЗНЕСА
		p.offer__hi ПРИВЕТ, Я АСЯ ДУЛОВА, UX/UI ДИЗАЙНЕР ИЗ АРХАНГЕЛЬСКА. В НАСТОЯЩЕЕ ВРЕМЯ ДИЗАЙНЮ НА ФРИЛАНСЕ И ПОМОГАЮ БРЕНДАМ И БИЗНЕСАМ БЫТЬ ЯРКИМИ, УДОБНЫМИ И УНИКАЛЬНЫМИ.
		.offer__item3
			button.offer__button ОБО МНЕ
		p.offer__free СВОБОДНА ДЛЯ ПРОЕКТОВ НА ИЮНЬ 2022
		.offer__item42
			a(href="") BEHANCE
			a(href="") VK
			a(href="") TENCHAT