extends ../layout/main

block variables
	- var title = 'Ася Дулова'
	- var pageClass = 'index-page'

block content
	.offer
		.offer__bg
			img.offer__img(src="static/img/content/mainAsya.png")
		p.offer__hi Привет, я Ася Дулова, UX/UI дизайнер из Архангельска. В&nbspнастоящее время дизайню на фрилансе и вместе со&nbspсвоей командой помогаю брендам и бизнесам быть яркими, удобными и&nbspуникальными.
		h1.offer__title.animSlidein САЙТЫ<br>И&nbspДИЗАЙН ДЛЯ&nbspБИЗНЕСА
		p.offer__free СВОБОДНА ДЛЯ ПРОЕКТОВ НА ИЮНЬ 2022

	.main-services(id="serv")
		.main-services__item11
			img(src="static/img/content/asya.png" alt="Ася" class="main-services__img")
		p.main-services__discription Я UX/UI дизайнер с навыками маркетинга. В своей работе я создаю не просто красивую картинку, а эффективную и стильную упаковку для бизнеса онлайн и оффлайн.<br>Мне нравится работать с проектами и людьми, которые хотят стать ближе для своих клиентов, рассказывать им о себе ярко, красиво и удобно.
		.main-services__title.main-services__title_uxui
			.circle.circle_margin-r.circle_white
			h3.main-services__uxui-h UX/UI ДИЗАЙН
		p.main-services__uxui-p Я разрабатываю разные виды веб-проектов в зависимости от задач бизнеса: лендинги, сайты-визитки, интернет-магазины и другие. В создании сайта для меня главное — соблюсти баланс между интересным дизайном и его удобством для зрителя.
		.main-services__title.main-services__title_aidentika
			.circle.circle_margin-r.circle_white
			h3.main-services__aidentika-h АЙДЕНТИКА
		p.main-services__aidentika-p Мне нравится выражать идеи и настроение бизнеса через цвета, шрифты и визуальные образы. Это помогает при создании айдентики, которая формирует имидж бренда в глазах клиентов, вызывает их доверие и лояльность.
		.main-services__title.main-services__title_smm
			.circle.circle_margin-r.circle_white
			h3.main-services__smm-h SMM И РЕКЛАМА
		p.main-services__smm-p Я постоянно улучшаю навыки в дизайне и маркетинге, чтобы помогать бизнесу с оформлением в Интернете.<br>Разрабатываю яркие рекламные макеты и оформление соцсетей, чтобы зацепить и заинтересовать аудиторию.
		.main-services__item24
			a.button.main-services__button(href="../services.html") ВСЕ УСЛУГИ
			a.linkUnderLine.main-services__button2(href="../services.html") ВСЕ УСЛУГИ

	.cases.cases_main
		h2 МОИ РАБОТЫ
		.cases__cards
			a(href="../index.html" target="_blank")
				.card
					.card-head
						span.card-name Asya Dulova
						span.card-date 05/2022
					p.card-disc Персональный сайт-визитка<br>для UX/UI дизайнера
					.card-tag.card-tag_tag21 UX/UI, Веб-дизайн
					.card-tag.card-tag_tag22 Сайт-визитка
			a(href="http://kuzmol29.tilda.ws/" target="_blank")
				.card
					.card-head
						span.card-name Кузнецы Молодцы
						span.card-date 04/2022
					p.card-disc Сайт-визитка<br>для студии сварки и ковки
					.card-tag.card-tag_tag21 Веб-дизайн
					.card-tag.card-tag_tag22 Сайт-визитка
			a(href="https://www.behance.net/gallery/140243567/onlajn-forum-krasivyj-biznes-2022" target="_blank")
				.card
					.card-head
						span.card-name Красивый Бизнес
						span.card-date 02/2022
					p.card-disc Лендинг<br>для онлайн форума в сфере бьюти
					.card-tag.card-tag_tag31 Веб-дизайн
					.card-tag.card-tag_tag32 Лендинг
					.card-tag.card-tag_tag33 SMM
			a(href="https://www.behance.net/gallery/123167773/UIV-production" target="_blank")
				.card
					.card-head
						span.card-name UIV Production
						span.card-date 07/2021
					p.card-disc Нейминг, логотип, айдентика<br>для студии видеопродакшена
					.card-tag.card-tag_tag31 Брендинг
					.card-tag.card-tag_tag32 Логотип
					.card-tag.card-tag_tag33 Айдентика
			a(href="" target="_blank")
				.card
					.card-head
						span.card-name Россиянка
						span.card-date 07/2021
					p.card-disc Логотип для образцового<br>хореографического ансамбля
					.card-tag.card-tag_tag31 Брендинг
					.card-tag.card-tag_tag32 Логотип
					.card-tag.card-tag_tag33 Концепт
			a(href="https://www.behance.net/gallery/116807759/kafedra-s%28a%29fu-imeni-mv-lomonosova" target="_blank")
				.card
					.card-head
						span.card-name КПИиИБ САФУ
						span.card-date 05/2021
					p.card-disc Логотип, айдентика и макеты<br>для кафедры университета
					.card-tag.card-tag_tag31 Брендинг
					.card-tag.card-tag_tag32 Айдентика
					.card-tag.card-tag_tag33 Полиграфия

	.about
		.about__education
			.about__education-title
				.circle.circle_margin-r.circle_white
				span ОБРАЗОВАНИЕ
			p.about__narfu САФУ, Высшая школа информационных технологий и автоматизированных систем, специальность «Разработчик Web и мультимедийных приложений», бакалавр, 2018-2022 гг.
			p.about__samsung Программа обучения «IT Академия Samsung: Мобильная разработка», разработчик мобильных приложений для платформы Android на языке программирования Java, сентябрь 2020-май 2021
			.about__skills
				.about__skills-title
					.circle.circle_margin-r.circle_white
					span НАВЫКИ
				.about__all-skills
					p PHOTOSHOP
					p HTML
					p PROTOTYPE/ANALYTICS
					p ILLUSTRATOR
					p CSS
					p UX
					p FIGMA
					p JAVASCRIPT
					p UI
		.about__clients
			.about__clients-title
				.circle.circle_margin-r.circle_white
				span КЛИЕНТЫ
			.about__all-clients
				p АДМИНИСТРАЦИЯ АО
				p UIV PRODUCTION
				p КАФЕДА ПИИБ САФУ
				p АРР АО
				p PRIDE BARBERSHOP
				p SAN PAOLO PRODUCTION GROUP
				p ДМИТРИЙ МОРЕВ
				p КУЗНЕЦЫ МОЛОДЦЫ
				p БИЗНЕС-ФОРУМ «СО-ДЕЙСТВИЕ»