extends ../layout/main

block variables
    - var title = 'Портфолио'
    - var pageClass = 'portfolio-page'

block content
    .offer
        picture.offer__bg.offer__bg_portf-grad.offer__bg_portf
            source(srcset="static/img/content/portfolioAsya.webp" type="image/webp")
            img(src="static/img/content/portfolioAsya.jpg" alt="Ася")
        picture.offer__bg-mobile.offer__bg-mobile_portf-grad.offer__bg-mobile_portf
            source(srcset="static/img/content/portfolioAsyaMobile.webp" type="image/webp")
            img.offer__img(src="static/img/content/portfolioAsyaMobile.jpg" alt="Ася")
        p.offer__hi.offer__hi_bottom Здесь можно взглянуть на мое портфолио.<br>Разрабатываю сайты на Tilda и Wordpress и дизайн-макеты для дальнейшей верстки, создаю логотипы, фирменный стиль, гайды, презентации.
        .offer__wrap
            h2.offer__title.portfolio__title ПОРТФОЛИО
            a.offer__button.offer__button_21(id="21" href="#") ПРОЕКТЫ
            a.offer__button.offer__button_22(id="22" href="#") КОНЦЕПТЫ

    .cases.cases__portfolio
        .cases__cards
            a.project.card__grab.card__grab_portfolio._anim-items._anim-show-opacity._anim-no-hide(href="../index.php" target="_blank")
                picture.card__grab-img.card__grab-img_portfolio
                    source(srcset="static/img/content/asya_skin.webp" type="image/webp")
                    img(src="static/img/content/asya_skin.jpg" alt="Asya Dulova")
                .card__grab-shadow-low
                .card__grab-shadow
                .card__grab-tags
                    p.card__grab-tag.card__grab-tag1 UX/UI
                    p.card__grab-tag.card__grab-tag2 Веб-дизайн
                    p.card__grab-tag.card__grab-tag3 Сайт
                .card__grab-foot
                    .card__grab-name.card__grab-name_portfolio Asya Dulova
                    .card__grab-line
                    p.card__grab-desc.card__grab-desc_portfolio Персональный сайт-визитка для UX/UI дизайнера
                    .card__grab-foot_tags
                        .card__grab-foot_tag.card__grab-foot_tag31.card__grab-tag_portfolio UX/UI
                        .card__grab-foot_tag.card__grab-foot_tag32.card__grab-tag_portfolio Веб-дизайн
                        .card__grab-foot_tag.card__grab-foot_tag33.card__grab-tag_portfolio Сайт
            a.project.card__grab.card__grab_portfolio._anim-items._anim-show-opacity._anim-no-hide(href="http://pridebarbershop.tilda.ws/" target="_blank")
                picture.card__grab-img.card__grab-img_portfolio
                    source(srcset="static/img/content/bs_skin.webp" type="image/webp")
                    img(src="static/img/content/bs_skin.jpg" alt="Барбершоп PRIDE")
                .card__grab-shadow-low
                .card__grab-shadow
                .card__grab-tags
                    p.card__grab-tag.card__grab-tag1 Веб-дизайн
                    p.card__grab-tag.card__grab-tag2 Сайт
                .card__grab-foot
                    .card__grab-name.card__grab-name_portfolio Барбершоп PRIDE
                    .card__grab-line
                    p.card__grab-desc.card__grab-desc_portfolio Экспресс-сайт для барбершопа
                    .card__grab-foot_tags
                        .card__grab-foot_tag.card__grab-foot_tag21.card__grab-tag_portfolio Веб-дизайн
                        .card__grab-foot_tag.card__grab-foot_tag22.card__grab-tag_portfolio Сайт
            a.project.card__grab.card__grab_portfolio._anim-items._anim-show-opacity._anim-no-hide(href="http://kuzmol29.tilda.ws/" target="_blank")
                picture.card__grab-img.card__grab-img_portfolio
                    source(srcset="static/img/content/km_skin.webp" type="image/webp")
                    img(src="static/img/content/km_skin.jpg" alt="Кузнецы Молодцы")
                .card__grab-shadow-low
                .card__grab-shadow
                .card__grab-tags
                    p.card__grab-tag.card__grab-tag1 Веб-дизайн
                    p.card__grab-tag.card__grab-tag2 Сайт
                .card__grab-foot
                    .card__grab-name.card__grab-name_portfolio Кузнецы Молодцы
                    .card__grab-line
                    p.card__grab-desc.card__grab-desc_portfolio Сайт-визитка для студии сварки и ковки
                    .card__grab-foot_tags
                        .card__grab-foot_tag.card__grab-foot_tag21.card__grab-tag_portfolio Веб-дизайн
                        .card__grab-foot_tag.card__grab-foot_tag22.card__grab-tag_portfolio Сайт
            a.project.card__grab.card__grab_portfolio._anim-items._anim-show-opacity._anim-no-hide(href="https://www.behance.net/gallery/140243567/onlajn-forum-krasivyj-biznes-2022" target="_blank")
                picture.card__grab-img.card__grab-img_portfolio
                    source(srcset="static/img/content/bb_skin.webp" type="image/webp")
                    img(src="static/img/content/bb_skin.jpg" alt="Красивый Бизнес")
                .card__grab-shadow-low
                .card__grab-shadow
                .card__grab-tags
                    p.card__grab-tag.card__grab-tag1 Веб-дизайн
                    p.card__grab-tag.card__grab-tag2 Лендинг
                    p.card__grab-tag.card__grab-tag3 SMM
                .card__grab-foot
                    .card__grab-name.card__grab-name_portfolio Красивый Бизнес
                    .card__grab-line
                    p.card__grab-desc.card__grab-desc_portfolio Лендинг для онлайн форума в сфере бьюти
                    .card__grab-foot_tags
                        .card__grab-foot_tag.card__grab-foot_tag31.card__grab-tag_portfolio Веб-дизайн
                        .card__grab-foot_tag.card__grab-foot_tag32.card__grab-tag_portfolio Лендинг
                        .card__grab-foot_tag.card__grab-foot_tag33.card__grab-tag_portfolio SMM
            a.project.card__grab.card__grab_portfolio._anim-items._anim-show-opacity._anim-no-hide(href="https://www.behance.net/gallery/123167773/UIV-production" target="_blank")
                picture.card__grab-img.card__grab-img_portfolio
                    source(srcset="static/img/content/uiv_skin.webp" type="image/webp")
                    img(src="static/img/content/uiv_skin.jpg" alt="UIV Production")
                .card__grab-shadow-low
                .card__grab-shadow
                .card__grab-tags
                    p.card__grab-tag.card__grab-tag1 Нейминг
                    p.card__grab-tag.card__grab-tag2 Логотип
                    p.card__grab-tag.card__grab-tag3 Айдентика
                .card__grab-foot
                    .card__grab-name.card__grab-name_portfolio UIV Production
                    .card__grab-line
                    p.card__grab-desc.card__grab-desc_portfolio Нейминг, логотип, айдентика для видеопродакшена
                    .card__grab-foot_tags
                        .card__grab-foot_tag.card__grab-foot_tag31.card__grab-tag_portfolio Нейминг
                        .card__grab-foot_tag.card__grab-foot_tag32.card__grab-tag_portfolio Логотип
                        .card__grab-foot_tag.card__grab-foot_tag33.card__grab-tag_portfolio Айдентика
            a.concept.card__grab.card__grab_portfolio._anim-items._anim-show-opacity._anim-no-hide(href="../rossiyanka")
                picture.card__grab-img.card__grab-img_portfolio
                    source(srcset="static/img/content/ross_skin.webp" type="image/webp")
                    img(src="static/img/content/ross_skin.jpg" alt="Россиянка")
                .card__grab-shadow-low
                .card__grab-shadow
                .card__grab-tags
                    p.card__grab-tag.card__grab-tag1 Брендинг
                    p.card__grab-tag.card__grab-tag2 Логотип
                    p.card__grab-tag.card__grab-tag3 Концепт
                .card__grab-foot
                    .card__grab-name.card__grab-name_portfolio Россиянка
                    .card__grab-line
                    p.card__grab-desc.card__grab-desc_portfolio Логотип для хореографического ансамбля
                    .card__grab-foot_tags
                        .card__grab-foot_tag.card__grab-foot_tag31.card__grab-tag_portfolio Брендинг
                        .card__grab-foot_tag.card__grab-foot_tag32.card__grab-tag_portfolio Логотип
                        .card__grab-foot_tag.card__grab-foot_tag33.card__grab-tag_portfolio Концепт
            a.project.card__grab.card__grab_portfolio._anim-items._anim-show-opacity._anim-no-hide(href="https://www.behance.net/gallery/116807759/kafedra-s%28a%29fu-imeni-mv-lomonosova" target="_blank")
                picture.card__grab-img.card__grab-img_portfolio
                    source(srcset="static/img/content/narfu_skin.webp" type="image/webp")
                    img(src="static/img/content/narfu_skin.jpg" alt="КПИиИБ САФУ")
                .card__grab-shadow-low
                .card__grab-shadow
                .card__grab-tags
                    p.card__grab-tag.card__grab-tag1 Логотип
                    p.card__grab-tag.card__grab-tag2 Айдентика
                    p.card__grab-tag.card__grab-tag3 Полиграфия
                .card__grab-foot
                    .card__grab-name.card__grab-name_portfolio КПИиИБ САФУ
                    .card__grab-line
                    p.card__grab-desc.card__grab-desc_portfolio Айдентика и полиграфия для кафедры университета
                    .card__grab-foot_tags
                        .card__grab-foot_tag.card__grab-foot_tag31.card__grab-tag_portfolio Логотип
                        .card__grab-foot_tag.card__grab-foot_tag32.card__grab-tag_portfolio Айдентика
                        .card__grab-foot_tag.card__grab-foot_tag33.card__grab-tag_portfolio Полиграфия