extends ../layout/main

block variables
    - var title = 'Портфолио'
    - var pageClass = 'portfolio-page'

block content
    .offer
        img.offer__img(src="static/img/content/portfolioAsya.png")
        p.offer__hi Здесь можно взглянуть на мое портфолио.<br>Разрабатываю сайты на Tilda и Wordpress и дизайн-макеты для дальнейшей верстки, создаю логотипы, фирменный стиль, гайды, презентации.
        h1.offer__title.offer__title_bottom.animSlidein ПОРТФОЛИО
        p.offer__free СВОБОДНА ДЛЯ ПРОЕКТОВ НА ИЮНЬ 2022

    .cases.cases_portfolio
        .cases__cards
            a(href="../index.html" target="_blank")
                .card
                    .card-head
                        span.card-name Asya Dulova
                        span.card-date 05/2022
                    p.card-disc Персональный сайт-визитка<br>для UX/UI дизайнера
                    .card-tag.card-tag_tag21 UX/UI, Веб-дизайн
                    .card-tag.card-tag_tag22 Сайт-визитка
            a(href="http://kuzmol29.tilda.ws/" target="_blank")
                .card
                    .card-head
                        span.card-name Кузнецы Молодцы
                        span.card-date 04/2022
                    p.card-disc Сайт-визитка<br>для студии сварки и ковки
                    .card-tag.card-tag_tag21 Веб-дизайн
                    .card-tag.card-tag_tag22 Сайт-визитка
            a(href="https://www.behance.net/gallery/140243567/onlajn-forum-krasivyj-biznes-2022" target="_blank")
                .card
                    .card-head
                        span.card-name Красивый Бизнес
                        span.card-date 02/2022
                    p.card-disc Лендинг<br>для онлайн форума в сфере бьюти
                    .card-tag.card-tag_tag31 Веб-дизайн
                    .card-tag.card-tag_tag32 Лендинг
                    .card-tag.card-tag_tag33 SMM
            a(href="https://www.behance.net/gallery/123167773/UIV-production" target="_blank")
                .card
                    .card-head
                        span.card-name UIV Production
                        span.card-date 07/2021
                    p.card-disc Нейминг, логотип, айдентика<br>для студии видеопродакшена
                    .card-tag.card-tag_tag31 Брендинг
                    .card-tag.card-tag_tag32 Логотип
                    .card-tag.card-tag_tag33 Айдентика
            a(href="" target="_blank")
                .card
                    .card-head
                        span.card-name Россиянка
                        span.card-date 07/2021
                    p.card-disc Логотип для образцового<br>хореографического ансамбля
                    .card-tag.card-tag_tag31 Брендинг
                    .card-tag.card-tag_tag32 Логотип
                    .card-tag.card-tag_tag33 Концепт
            a(href="https://www.behance.net/gallery/116807759/kafedra-s%28a%29fu-imeni-mv-lomonosova" target="_blank")
                .card
                    .card-head
                        span.card-name КПИиИБ САФУ
                        span.card-date 05/2021
                    p.card-disc Логотип, айдентика и макеты<br>для кафедры университета
                    .card-tag.card-tag_tag31 Брендинг
                    .card-tag.card-tag_tag32 Айдентика
                    .card-tag.card-tag_tag33 Полиграфия