extends ../layout/main

block variables
    - var title = 'Услуги'
    - var pageClass = 'services-page'

block content
    h2.servicesTitle УСЛУГИ И СТОИМОСТЬ
    .allServices
        .allServicesMenu
            p.allServicesMenu1 ВЕБ-ДИЗАЙН
            p.allServicesMenu2 БРЕНДИНГ
            p.allServicesMenu3 SMM И РЕКЛАМА
        .allServicesHead
            h4.serviceTitle ЛЕНДИНГ
            .serviceDiscription
                p Лендинг — одностраничный сайт, ориентированный на продвижение одного типа товара или услуги. Основная задача такого ресурса — побудить посетителя к выполнению целевого действия.<br><br>От обычного сайта и сайта-визитки лендинг отличается «продающей» структурой: он является презентацией продукта и имеет много маркетинговых хитростей.<br><br>Я разрабатываю разные виды лендингов в зависимости от Вашего бюджета и задач.
        .allServicesCards
            .allServicesCards__card.allServicesCards__card_left
                .cardName
                    p ЭКОНОМ
                p ОДНОСТРАНИЧНЫЙ САЙТ В КОРОТКИЕ СРОКИ СО СТАНДАРТНЫМ ДИЗАЙНОМ
                p СРОК РАЗРАБОТКИ: 5 - 7 дней
                p ОТ 8000 ₽
                ul
                    li ⦁ Подбор дизайн-концепции, прототип
                    li ⦁ Подбор фотографий со стоков
                    li ⦁ 5 - 6 информационных блоков на странице
                    li ⦁ Страница «Политика конфиденциальности»
                    li ⦁ Подключение сбора заявок и систем оплаты
                    li ⦁ Дизайн блоков, меню, всплывающих окон, виджетов – стандартный, с использованием шаблонов
                    li ⦁ Без анимации
                button ЗАКАЗАТЬ
            .allServicesCards__card.allServicesCards__card_main
                .cardName
                    p СТАНДАРТ
                p САЙТ С ПРОСТОЙ АНИМАЦИЕЙ, НЕСКОЛЬКО УНИКАЛЬНЫХ БЛОКОВ
                p СРОК РАЗРАБОТКИ: 7 - 10 дней
                p ОТ 12 000 ₽
                ul
                    li ⦁ Подбор дизайн-концепции, прототип
                    li ⦁ Подбор фотографий со стоков
                    li ⦁ <u>6 - 8</u> информационных блоков на странице
                    li ⦁ Страница «Политика конфиденциальности»
                    li ⦁ Подключение сбора заявок и систем оплаты
                    li ⦁ Дизайн блоков, меню, всплывающих окон, виджетов – стандартный + <u>несколько блоков с уникальным дизайном</u>
                    li ⦁ <u>Простая анимация</u>
                button ЗАКАЗАТЬ
            .allServicesCards__card.allServicesCards__card_right
                .cardName
                    p ПРЕМИУМ
                p ЭФФЕКТНЫЙ САЙТ С УНИКАЛЬНЫМ ДИЗАЙНОМ И СЛОЖНОЙ АНИМАЦИЕЙ
                p СРОК РАЗРАБОТКИ: 10 - 16 дней
                p ОТ 18 000 ₽
                ul
                    li ⦁ Подбор дизайн-концепции, прототип
                    li ⦁ Подбор фотографий со стоков + <u>редактирование ваших фото</u>
                    li ⦁ <u>6 - 8</u> информационных блоков на странице
                    li ⦁ Страница «Политика конфиденциальности»
                    li ⦁ Подключение сбора заявок и систем оплаты
                    li ⦁ Дизайн блоков, меню, всплывающих окон, виджетов – все блоки со <u>сложным уникальным дизайном</u>
                    li ⦁ <u>Сложная анимация</u>
                button ЗАКАЗАТЬ