extends ../layout/main

block variables
    - var title = 'Услуги'
    - var pageClass = 'services-page'

block content
    .offer
        .offer__bg
            img.offer__img(src="static/img/content/servicesAsya.png")
        .offer__bg-mobile.offer__bg-mobile_serv-grad
            img.offer__img(src="static/img/content/servicesAsyaMobile.png")
        p.offer__hi Список услуг, которые может выполнить для Вас моя команда. Обратите внимание: стоимость услуг указана приблизительно. Точную стоимость я смогу назвать после заполнения брифа и понимания объема работы.
        h2.offer__title.offer__title_bottom УСЛУГИ И&nbspСТОИМОСТЬ
        p.offer__free СВОБОДНА ДЛЯ ПРОЕКТОВ НА ИЮНЬ 2022
    
    .service(id="webDes")
        .service__title
            .circle.circle_margin-r.circle_black
            span ЛЕНДИНГ
        p.service__disc Лендинг — одностраничный сайт, ориентированный на продвижение одного типа товара или услуги. Основная задача такого ресурса — побудить посетителя к выполнению целевого действия. От обычного сайта и сайта-визитки лендинг отличается «продающей» структурой: он является презентацией продукта и имеет много маркетинговых хитростей.<br><br>Я разрабатываю разные виды лендингов в зависимости от Вашего бюджета и задач.
    
    .tariffs
        h2 ТАРИФЫ
        .tariffs__cards
            .card
                .card-head
                    span.card-name ЭКОНОМ
                p.card-disc.card-disc-tariffs ОДНОСТРАНИЧНЫЙ САЙТ В КОРОТКИЕ СРОКИ СО СТАНДАРТНЫМ ДИЗАЙНОМ
                .tariffs__list
                    p В ТАРИФ ВХОДИТ:<br><br>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор дизайн-концепции, прототип
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фотографий со стоков
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 5 - 6 информационных блоков на странице
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Страница «Политика конфиденциальности»
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подключение сбора заявок и систем оплаты
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Дизайн блоков, меню, всплывающих окон, виджетов – стандартный, с использованием шаблонов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Без анимации
                .card-tag.card-tag_tag21 ОТ 8000 ₽
                .card-tag.card-tag_tag22 5 - 7 ДНЕЙ
            .card
                .card-head
                    span.card-name СТАНДАРТ
                p.card-disc.card-disc-tariffs ОДНОСТРАНИЧНЫЙ САЙТ С ПРОСТОЙ АНИМАЦИЕЙ, ИМЕЮЩИЙ НЕСКОЛЬКО УНИКАЛЬНЫХ БЛОКОВ
                .tariffs__list
                    p В ТАРИФ ВХОДИТ:<br><br>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор дизайн-концепции, прототип
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фотографий со стоков
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 6 - 8 информационных блоков на странице
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Страница «Политика конфиденциальности»
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подключение сбора заявок и систем оплаты
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Дизайн блоков, меню, всплывающих окон, виджетов – стандартный, + <u>несколько блоков с уникальным дизайном</u>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span <u>Простая анимация</u>
                .card-tag.card-tag_tag21 ОТ 12 000 ₽
                .card-tag.card-tag_tag22 7 - 10 ДНЕЙ
            .card
                .card-head
                    span.card-name ПРЕМИУМ
                p.card-disc.card-disc-tariffs ЭФФЕКТНЫЙ САЙТ С УНИКАЛЬНЫМ ДИЗАЙНОМ И СЛОЖНОЙ АНИМАЦИЕЙ
                .tariffs__list
                    p В ТАРИФ ВХОДИТ:<br><br>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор дизайн-концепции, прототип
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фотографий со стоков + <u>редактирование ваших фото</u>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 6 - 8 информационных блоков на странице
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Страница «Политика конфиденциальности»
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подключение сбора заявок и систем оплаты
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Дизайн блоков, меню, всплывающих окон, виджетов – <u>все блоки со сложным уникальным дизайном</u>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span <u>Сложная анимация</u>
                .card-tag.card-tag_tag21 ОТ 18 000 ₽
                .card-tag.card-tag_tag22 10 - 15 ДНЕЙ
    
    .tariffs-mobile
        h2.faq-title ТАРИФЫ
        .faq
            .faq__name(id="faqName9" onclick='showCloseItem(this)')
                p.faq__p ЭКОНОМ – ОТ&nbsp8000&nbsp₽
                .faq__plus
                    svg.faq__svg(id="faqSvg_faqName9" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        path(d="M0,11 L22,11")
                        path(d="M11,0 L11,22")
            .faq__answer.faq__answer_closed(id="faqAnswer_faqName9")
                p ОДНОСТРАНИЧНЫЙ САЙТ В КОРОТКИЕ СРОКИ СО СТАНДАРТНЫМ ДИЗАЙНОМ
                p В ТАРИФ ВХОДИТ:
                p ⦁ Подбор дизайн-концепции, прототип<br>⦁ Подбор фотографий со стоков<br>⦁ 5 - 6 информационных блоков на странице<br>⦁ Страница «Политика конфиденциальности»<br>⦁ Подключение сбора заявок и систем оплаты<br>⦁ Дизайн блоков, меню, всплывающих окон, виджетов – стандартный, с использованием шаблонов<br>⦁ Без анимации
                p СРОК РАЗРАБОТКИ – 5 - 7 дней
            .faq__name(id="faqName10")
                p.faq__p СТАНДАРТ – ОТ&nbsp12&nbsp000&nbsp₽
                .faq__plus
                    svg.faq__svg(id="faqSvg_faqName10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        path(d="M0,11 L22,11")
                        path(d="M11,0 L11,22")
            .faq__answer.faq__answer_closed(id="faqAnswer_faqName10")
                p ОДНОСТРАНИЧНЫЙ САЙТ С ПРОСТОЙ АНИМАЦИЕЙ, ИМЕЮЩИЙ НЕСКОЛЬКО УНИКАЛЬНЫХ БЛОКОВ
                p В ТАРИФ ВХОДИТ:
                p ⦁ Подбор дизайн-концепции, прототип<br>⦁ Подбор фотографий со стоков<br>⦁ 6 - 8 информационных блоков на странице<br>⦁ Страница «Политика конфиденциальности»<br>⦁ Подключение сбора заявок и систем оплаты<br>⦁ Дизайн блоков, меню, всплывающих окон, виджетов – стандартный, + несколько блоков с уникальным дизайном<br>⦁ Простая анимация
                p СРОК РАЗРАБОТКИ – 7 - 10 дней
            .faq__wrap
                .faq__name(id="faqName11")
                    p.faq__p ПРЕМИУМ – ОТ&nbsp18&nbsp000&nbsp₽
                    .faq__plus
                        svg.faq__svg(id="faqSvg_faqName11" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                            path(d="M0,11 L22,11")
                            path(d="M11,0 L11,22")
                .faq__answer.faq__answer_closed(id="faqAnswer_faqName11")
                    p ЭФФЕКТНЫЙ САЙТ С УНИКАЛЬНЫМ ДИЗАЙНОМ И СЛОЖНОЙ АНИМАЦИЕЙ
                    p В ТАРИФ ВХОДИТ:
                    p ⦁ Подбор дизайн-концепции, прототип<br>⦁ Подбор фотографий со стоков + редактирование ваших фото<br>⦁ 6 - 8 информационных блоков на странице<br>⦁ Страница «Политика конфиденциальности»<br>⦁ Подключение сбора заявок и систем оплаты<br>⦁ Дизайн блоков, меню, всплывающих окон, виджетов – все блоки со сложным уникальным дизайном<br>⦁ Сложная анимация
                    p СРОК РАЗРАБОТКИ – 10 - 16 дней
    
    .service
        .service__title
            .circle.circle_margin-r.circle_black
            span МНОГОСТРАНИЧНЫЕ САЙТЫ
        p.service__disc Это общее название для разных видов сайтов с большим количеством страниц и информации на них. Сюда можно отнести:<br><br>– сайты-визитки, личные сайты с портфолио работ<br>– сайты компаний<br>– интернет-магазины<br><br>Я создаю удобные многостраничные сайты, которые знакомят посетителей с Вашим брендом, демонстрируют правильный имидж, помогают с выбором Ваших продуктов и услуг.
    
    .tariffs
        h2 ТАРИФЫ
        .tariffs__cards
            .card
                .card-head
                    span.card-name САЙТ-ВИЗИТКА
                p.card-disc.card-disc-tariffs МНОГОСТРАНИЧНЫЙ САЙТ-ВИЗИТКА ДЛЯ ЭКСПЕРТА ИЛИ БРЕНДА С ИНФОРМАЦИЕЙ И ПОРТФОЛИО РАБОТ
                .tariffs__list
                    p В ТАРИФ ВХОДИТ:<br><br>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Составление структуры сайта, дизайн-концепции, прототипа
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фотографий со стоков (при необходимости)
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Количество страниц: 3 - 5
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 5 - 6 информационных блоков на каждой странице
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Страницы «Политика конфиденциальности» и «404»
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подключение сбора заявок, необходимых виджетов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Анимация и дизайн - обсуждаются индивидуально; уникальный дизайн и сложная анимация увеличивают стоимость
                .card-tag.card-tag_tag21 ОТ 25 000 ₽
                .card-tag.card-tag_tag22 ОТ 14 ДНЕЙ
            .card
                .card-head
                    span.card-name САЙТ БРЕНДА/КОМПАНИИ
                p.card-disc.card-disc-tariffs МНОГОСТРАНИЧНЫЙ САЙТ ДЛЯ КОМПАНИИ С БОЛЬШИМ КОЛИЧЕСТВОМ ИНФОРМАЦИИ, КАТАЛОГАМИ И СТАТЬЯМИ
                .tariffs__list
                    p В ТАРИФ ВХОДИТ:<br><br>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Составление структуры сайта, дизайн-концепции, прототипа
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фотографий со стоков (при необходимости)
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Количество страниц: 6 - 8
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 5 - 6 информационных блоков на каждой странице
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Страницы «Политика конфиденциальности» и «404»
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подключение сбора заявок, необходимых виджетов, прайс-каталогов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Начальная SEO-настройка (для продвижения в поисковиках)
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Анимация и дизайн - обсуждаются индивидуально; уникальный дизайн и сложная анимация увеличивают стоимость
                .card-tag.card-tag_tag21 ОТ 28 000 ₽
                .card-tag.card-tag_tag22 ОТ 16 ДНЕЙ
            .card
                .card-head
                    span.card-name ИНТЕРНЕТ-МАГАЗИН
                p.card-disc.card-disc-tariffs МНОГОСТРАНИЧНЫЙ САЙТ ДЛЯ КОМПАНИИ С КАТАЛОГОМ ТОВАРОВ И ОНЛАЙН-ОПЛАТОЙ
                .tariffs__list
                    p В ТАРИФ ВХОДИТ:<br><br>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Составление структуры сайта, дизайн-концепции, прототипа
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фотографий со стоков (при необходимости)
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Количество страниц: 6 - 8
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 5 - 6 информационных блоков на каждой странице
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Страницы «Политика конфиденциальности» и «404»
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подключение сбора заявок, необходимых виджетов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подключение каталога товаров и систем оплаты
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Начальная SEO-настройка (для продвижения в поисковиках)
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Анимация и дизайн - обсуждаются индивидуально; уникальный дизайн и сложная анимация увеличивают стоимость
                .card-tag.card-tag_tag21 ОТ 35 000 ₽
                .card-tag.card-tag_tag22 ОТ 20 ДНЕЙ
    
    .tariffs-mobile
        h2.faq-title ТАРИФЫ
        .faq
            .faq__name(id="faqName12" onclick='showCloseItem(this)')
                p.faq__p САЙТ-ВИЗИТКА – ОТ&nbsp25&nbsp000&nbsp₽
                .faq__plus
                    svg.faq__svg(id="faqSvg_faqName12" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        path(d="M0,11 L22,11")
                        path(d="M11,0 L11,22")
            .faq__answer.faq__answer_closed(id="faqAnswer_faqName12")
                p МНОГОСТРАНИЧНЫЙ САЙТ-ВИЗИТКА ДЛЯ ЭКСПЕРТА ИЛИ БРЕНДА С ИНФОРМАЦИЕЙ И ПОРТФОЛИО РАБОТ
                p В ТАРИФ ВХОДИТ:
                p ⦁ Составление структуры сайта, дизайн-концепции, прототипа<br>⦁ Подбор фотографий со стоков (при необходимости)<br>⦁ Количество страниц: 3 - 5<br>⦁ 5 - 6 информационных блоков на каждой странице<br>⦁ Страницы «Политика конфиденциальности» и «404»<br>⦁ Подключение сбора заявок, необходимых виджетов<br>⦁ Анимация и дизайн - обсуждаются индивидуально; уникальный дизайн и сложная анимация увеличивают стоимость.
                p СРОК РАЗРАБОТКИ – от 14 дней
            .faq__name(id="faqName13")
                p.faq__p САЙТ БРЕНДА/КОМПАНИИ – ОТ&nbsp28&nbsp000&nbsp₽
                .faq__plus
                    svg.faq__svg(id="faqSvg_faqName13" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        path(d="M0,11 L22,11")
                        path(d="M11,0 L11,22")
            .faq__answer.faq__answer_closed(id="faqAnswer_faqName13")
                p МНОГОСТРАНИЧНЫЙ САЙТ ДЛЯ КОМПАНИИ С БОЛЬШИМ КОЛИЧЕСТВОМ ИНФОРМАЦИИ, КАТАЛОГАМИ И СТАТЬЯМИ
                p В ТАРИФ ВХОДИТ:
                p ⦁ Составление структуры сайта, дизайн-концепции, прототипа<br>⦁ Подбор фотографий со стоков (при необходимости)<br>⦁ Количество страниц: 6 - 8<br>⦁ 5 - 6 информационных блоков на каждой странице<br>⦁ Страницы «Политика конфиденциальности» и «404»<br>⦁ Подключение сбора заявок, необходимых виджетов, прайс-каталогов<br>⦁ Начальная SEO-настройка (для продвижения в поисковиках)<br>⦁ Анимация и дизайн - обсуждаются индивидуально; уникальный дизайн и сложная анимация увеличивают стоимость.
                p СРОК РАЗРАБОТКИ – от 16 дней
            .faq__wrap
                .faq__name(id="faqName14")
                    p.faq__p ИНТЕРНЕТ-МАГАЗИН – ОТ&nbsp32&nbsp000&nbsp₽
                    .faq__plus
                        svg.faq__svg(id="faqSvg_faqName14" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                            path(d="M0,11 L22,11")
                            path(d="M11,0 L11,22")
                .faq__answer.faq__answer_closed(id="faqAnswer_faqName14")
                    p МНОГОСТРАНИЧНЫЙ САЙТ ДЛЯ КОМПАНИИ С КАТАЛОГОМ ТОВАРОВ И ОНЛАЙН-ОПЛАТОЙ
                    p В ТАРИФ ВХОДИТ:
                    p ⦁ Составление структуры сайта, дизайн-концепции, прототипа<br>⦁ Подбор фотографий со стоков (при необходимости)<br>⦁ Количество страниц: 6 - 8<br>⦁ Каталог товаров<br>⦁ 5 - 6 информационных блоков на каждой странице<br>⦁ Страницы «Политика конфиденциальности» и «404»<br>⦁ Подключение сбора заявок, необходимых виджетов<br>⦁ Подключение каталога товаров и систем оплаты<br>⦁ Начальная SEO-настройка (для продвижения в поисковиках)<br>⦁ Анимация и дизайн - обсуждаются индивидуально; уникальный дизайн и сложная анимация увеличивают стоимость.
                    p СРОК РАЗРАБОТКИ – от 20 дней

    .service(id="brand")
        .service__title
            .circle.circle_margin-r.circle_black
            span АЙДЕНТИКА
        p.service__disc Это визуальная составляющая вашей компании. Именно она формирует имидж и восприятие бренда со стороны клиента, повышает узнаваемость в глазах ЦА и помогает сформировать первое впечатление. К ключевым элементам айдентики, помимо названия, относятся:<br><br>– логотип<br>– фирменные шрифты и цвета<br>– фирменные паттерны, графические элементы и общий стиль<br><br>Я создаю стильные логотипы и айдентику, которые отражают идеи Вашего бренда. Вы сможете использовать их при оформлении соцсетей, создании визиток, листовок, презентаций, гайдов – всего, что необходимо.
    
    .tariffs
        h2 ТАРИФЫ
        .tariffs__cards
            .card
                .card-head
                    span.card-name ЛОГОТИП (ЛАЙТ)
                p.card-disc.card-disc-tariffs УНИКАЛЬНЫЙ ЛОГОТИП ДЛЯ ВАШЕГО БРЕНДА
                .tariffs__list
                    p При отсутствии у Вашего бренда или продукта своего логотипа, при заказе сайта я могу предложить простой, но стильный вариант шрифтового логотипа для быстрого старта
                .card-tag.card-tag_tag21 БЕСПЛАТНО
                .card-tag.card-tag_tag22 1 ЧАС
            .card
                .card-head
                    span.card-name ЛОГОТИП
                p.card-disc.card-disc-tariffs УНИКАЛЬНЫЙ ЛОГОТИП ДЛЯ ВАШЕГО БРЕНДА
                .tariffs__list
                    p В ТАРИФ ВХОДИТ:<br><br>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Анализ бренда, ниши и конкурентов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Составление мудборда
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фирменных цветов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фирменных шрифтов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 1 вариант логотипа
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 2 бесплатных правки/доработок концепции
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Логобук - pdf-инструкция по использованию логотипа<br><br>
                    p СРОК РАЗРАБОТКИ – от 7 дней
                .card-tag.card-tag_tag21 ОТ 8 000 ₽
                .card-tag.card-tag_tag22 От 7 ДНЕЙ
            .card
                .card-head
                    span.card-name АЙДЕНТИКА
                p.card-disc.card-disc-tariffs УНИКАЛЬНЫЙ ЛОГОТИП И ФИРМЕННЫЙ СТИЛЬ ДЛЯ ВАШЕГО БРЕНДА
                .tariffs__list
                    p В ТАРИФ ВХОДИТ:<br><br>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Анализ бренда, ниши и конкурентов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Составление мудборда
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фирменных цветов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фирменных шрифтов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Разработка стилеобразующих элементов (узоры/паттерны, подложки)
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 2 варианта логотипа на выбор
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 2 бесплатных правки (на этап)
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 2 любых макета* носителей на выбор (визитка, флаер, макет для соцсети и так далее)
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Гайдлайн - pdf-инструкция по использованию логотипа и фирменного стиля<br><br>
                    p *Другие необходимые макеты заказываются и оплачиваются дополнительно (при необходимости)
                .card-tag.card-tag_tag21 ОТ 15 000 ₽
                .card-tag.card-tag_tag22 От 20 ДНЕЙ
    
    .tariffs-mobile
        h2.faq-title ТАРИФЫ
        .faq
            .faq__name(id="faqName15")
                p.faq__p ЛОГОТИП (ЛАЙТ) – БЕСПЛАТНО
                .faq__plus
                    svg.faq__svg(id="faqSvg_faqName15" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        path(d="M0,11 L22,11")
                        path(d="M11,0 L11,22")
            .faq__answer(id="faqAnswer_faqName15")
                p При отсутствии у Вашего бренда или продукта своего логотипа, <u>при заказе сайта</u> я могу предложить простой, но стильный вариант шрифтового логотипа для быстрого старта.
                p СРОК ИСПОЛНЕНИЯ: 1 час
            .faq__name(id="faqName16")
                p.faq__p ЛОГОТИП — ОТ&nbsp8000&nbsp₽
                .faq__plus
                    svg.faq__svg(id="faqSvg_faqName16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        path(d="M0,11 L22,11")
                        path(d="M11,0 L11,22")
            .faq__answer(id="faqAnswer_faqName16")
                p УНИКАЛЬНЫЙ ЛОГОТИП ДЛЯ ВАШЕГО БРЕНДА.
                p В ТАРИФ ВХОДИТ:
                p ⦁ Анализ бренда, ниши и конкурентов<br>⦁ Составление мудборда<br>⦁ Подбор фирменных цветов<br>⦁ Подбор фирменных шрифтов<br>⦁ 1 вариант логотипа<br>⦁ 2 бесплатных правки/доработок концепции<br>⦁ Логобук - pdf-инструкция по использованию логотипа
                p СРОК РАЗРАБОТКИ – от 7 дней
            .faq__wrap
                .faq__name(id="faqName17")
                    p.faq__p АЙДЕНТИКА — ОТ&nbsp18&nbsp000&nbsp₽
                    .faq__plus
                        svg.faq__svg(id="faqSvg_faqName17" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                            path(d="M0,11 L22,11")
                            path(d="M11,0 L11,22")
                .faq__answer(id="faqAnswer_faqName17")
                    p УНИКАЛЬНЫЙ ЛОГОТИП И ФИРМЕННЫЙ СТИЛЬ ДЛЯ ВАШЕГО БРЕНДА.
                    p В ТАРИФ ВХОДИТ:
                    p ⦁ Анализ бренда, ниши и конкурентов<br>⦁ Составление мудборда<br>⦁ Подбор фирменных цветов<br>⦁ Подбор фирменных шрифтов<br>⦁ Разработка стилеобразующих элементов (узоры/паттерны, подложки)<br>⦁ 2 варианта логотипа на выбор<br>⦁ 2 бесплатных правки (на этап)<br>⦁ 2 любых макета* носителей на выбор (визитка, флаер, макет для соцсети и так далее).<br>⦁ Гайдлайн - pdf-инструкция по использованию логотипа и фирменного стиля
                    p СРОК РАЗРАБОТКИ – от 14 дней
                    p *Другие необходимые макеты заказываются и оплачиваются дополнительно (при необходимости).

    .service(id="moreServ")
        .service__title
            .circle.circle_margin-r.circle_black
            span ПРОЧИЕ УСЛУГИ
        .service__all-services
            p ОФОРМЛЕНИЕ ВК
            p.service__price ОТ 3500 ₽
            p ВЕБ-ДИЗАЙН (БЕЗ ВЕРСТКИ)
            p.service__price ОТ 10 000 ₽
            p ПРЕЗЕНТАЦИЯ
            p.service__price 1000 ₽/СТРАНИЦА
            p ГАЙД
            p.service__price 500 ₽/СТРАНИЦА
            p МАКЕТЫ ПОЛИГРАФИИ
            p.service__price ОТ 1000 ₽/МАКЕТ
            p РЕКЛАМНЫЕ КРЕАТИВЫ
            p.service__price 1000 ₽/МАКЕТ
    
    h2.method-title ПОРЯДОК РАБОТЫ
    .carousel.method
        .carousel-cell
            h3.carousel-cell__num /1
            h3.carousel-cell__name Заявка, консультация и&nbspбриф
            p.carousel-cell__desc Мы договоримся о дате, времени и формате консультации, в ходе которой мы обсудим все условия, этапы работы. Также Вы заполните бриф, в котором поделитесь своими пожеланиями к функционалу и дизайну сайта.
        .carousel-cell
            h3.carousel-cell__num /2
            h3.carousel-cell__name Заключение договора и&nbspпредоплата
            p.carousel-cell__desc Я работаю официально и прозрачно: документально определим этапы работ и их согласование, сроки, порядок оплаты и прочие важные детали.
        .carousel-cell
            h3.carousel-cell__num /3
            h3.carousel-cell__name Разработка<br>прототипа
            p.carousel-cell__desc Я погружаюсь в Ваш бизнес, анализирую конкурентов, составляю логическую структуру будущего сайта, чтобы Вашим клиентам было удобно искать на нем информацию, и согласовываю ее с Вами.
        .carousel-cell
            h3.carousel-cell__num /4
            h3.carousel-cell__name Разработка визуальной концепции
            p.carousel-cell__desc Собираю шрифты, цвета, примеры удачных дизайнерских решений в единый мудборд и показываю его Вам, чтобы понять, в каком направлении двигаться в дизайне и чтобы конечный результат не стал сюрпризом.
        .carousel-cell
            h3.carousel-cell__num /5
            h3.carousel-cell__name Разработка сайта и настройка функционала
            p.carousel-cell__desc На основании прототипа и дизайн-концепции собираю сайт на подходящей Вашим задачам платформе, создаю дизайн для всех видов устройств и добавляю анимацию.
        .carousel-cell
            h3.carousel-cell__num /6
            h3.carousel-cell__name Согласование<br>и запуск сайта
            p.carousel-cell__desc Я пришлю Вам ссылку на Ваш новый сайт для тестирования и окончательного согласования.
        .carousel-cell
            h3.carousel-cell__num /7
            h3.carousel-cell__name Поддержка и обучение управлению сайтом
            p.carousel-cell__desc В конце нашего сотрудничества я пришлю ссылку на уроки по работе с платформой и отвечу на все возникающие вопросы!
    
    h2.faq-title ВОПРОС-ОТВЕТ
    .faq
        .faq__name(id="faqName1" onclick='showCloseItem(this)')
            p.faq__p Вы работаете официально?
            .faq__plus
                svg.faq__svg(id="faqSvg_faqName1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path(d="M0,11 L22,11")
                    path(d="M11,0 L11,22")
        .faq__answer.faq__answer_closed(id="faqAnswer_faqName1")
            p Да, я работаю официально в статусе самозанятой, выдаю чеки об оплате услуг и плачу налоги ;)
        .faq__name(id="faqName2")
            p.faq__p Есть ли возможность составить договор?
            .faq__plus
                svg.faq__svg(id="faqSvg_faqName2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path(d="M0,11 L22,11")
                    path(d="M11,0 L11,22")
        .faq__answer.faq__answer_closed(id="faqAnswer_faqName2")
            p Для Вашего спокойствия и полной прозрачности работы заключается договор подряда, в котором прописывается объем работ, их этапы, сроки и стоимость. Этот документ защищает Вас, как заказчика, и меня, как исполнителя.
        .faq__name(id="faqName3")
            p.faq__p Есть ли предоплата?
            .faq__plus
                svg.faq__svg(id="faqSvg_faqName3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path(d="M0,11 L22,11")
                    path(d="M11,0 L11,22")
        .faq__answer.faq__answer_closed(id="faqAnswer_faqName3")
            p Я работаю по предоплате и поэтапной оплате. Сроки определяются индивидуально в ходе составления договора.
        .faq__name(id="faqName4")
            p.faq__p Стоимость указана фиксированная и уже не изменится?
            .faq__plus
                svg.faq__svg(id="faqSvg_faqName4" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path(d="M0,11 L22,11")
                    path(d="M11,0 L11,22")
        .faq__answer.faq__answer_closed(id="faqAnswer_faqName4")
            p Стоимость работ в тарифах указана приблизительно, чтобы было легче сориентироваться. Точную стоимость я смогу назвать после заполнения брифа и понимания объема работы.
        .faq__name(id="faqName5")
            p.faq__p Можно ли вносить правки в ходе работы над проектом?
            .faq__plus
                svg.faq__svg(id="faqSvg_faqName5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path(d="M0,11 L22,11")
                    path(d="M11,0 L11,22")
        .faq__answer.faq__answer_closed(id="faqAnswer_faqName5")
            p Да. Для любой из моих услуг предусмотрено бесплатное количество правок для каждого из этапов работы. Дополнительные правки осуществляются на платной основе.<br><br>Пожалуйста, обратите внимание, что работа согласуется поэтапно, и правки ранее согласованных этапов <u>не осуществляются.</u>
        .faq__name(id="faqName6")
            p.faq__p Мне непонятно, что такое лендинг, брендинг, прототип... какая услуга нужна мне?
            .faq__plus
                svg.faq__svg(id="faqSvg_faqName6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path(d="M0,11 L22,11")
                    path(d="M11,0 L11,22")
        .faq__answer.faq__answer_closed(id="faqAnswer_faqName6")
            p В ходе бесплатной консультации перед началом нашей работы я отвечаю на все вопросы и консультирую по поводу необходимости той или иной услуги.
        .faq__name(id="faqName7")
            p.faq__p Сложно ли будет управлять созданным сайтом?
            .faq__plus
                svg.faq__svg(id="faqSvg_faqName7" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path(d="M0,11 L22,11")
                    path(d="M11,0 L11,22")
        .faq__answer.faq__answer_closed(id="faqAnswer_faqName7")
            p В конце нашего сотрудничества я пришлю гайд с текстовыми и видеоуроками по управлению Вашим новым сайтом, а также не пропадаю и остаюсь на связи. Вы всегда можете связаться со мной, если возникнут дополнительные вопросы ;)
        .faq__wrap
            .faq__name(id="faqName8")
                p.faq__p А если мне не понравится дизайн?
                .faq__plus
                    svg.faq__svg(id="faqSvg_faqName8" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        path(d="M0,11 L22,11")
                        path(d="M11,0 L11,22")
            .faq__answer.faq__answer_closed(id="faqAnswer_faqName8")
                p В ходе работы предусмотрено согласование дизайна поэтапно, а значит, Вы имеете возможность:<br><br>- следить за ходом работы;<br>- понимать, в каком направлении я двигаюсь;<br>- вносить правки на каждом из согласуемых этапов.<br>При таком порядке работы Вы можете напрямую влиять на результат, и он не станет для вас неприятным сюрпризом! ;)