extends ../layout/main

block variables
    - var title = 'Услуги'
    - var pageClass = 'services-page'

block content
    h2.servicesTitle УСЛУГИ И СТОИМОСТЬ
    .allServices
        .serviceHead
            p.serviceHead1 ВЕБ-ДИЗАЙН
            p.serviceHead2 БРЕНДИНГ
            p.serviceHead3 SMM И РЕКЛАМА
        .serviceBody
            h4.serviceTitle1 ЛЕНДИНГ
            .serviceDiscription1
                p Лендинг — одностраничный сайт, ориентированный на продвижение одного типа товара или услуги. Основная задача такого ресурса — побудить посетителя к выполнению целевого действия.<br><br>От обычного сайта и сайта-визитки лендинг отличается «продающей» структурой: он является презентацией продукта и имеет много маркетинговых хитростей.<br><br>Я разрабатываю разные виды лендингов в зависимости от Вашего бюджета и задач.
            table(class="serviceTable1" rules="all")
                tr
                    th
                    th ЭКОНОМ
                    th СТАНДАРТ
                    th ПРЕМИУМ
                tr
                    td ПОДБОР ДИЗАЙН-КОНЦЕПЦИИ, ПРОТОТИП
                    td +
                    td +
                    td +
                tr
                    td ПОДБОР ФОТОГРАФИЙ СО СТОКОВ
                    td +
                    td +
                    td + <u>РЕДАКТИРОВАНИЕ ВАШИХ ФОТО</u>
                tr
                    td КОЛИЧЕСТВО ИНФОРМАЦИОННЫХ БЛОКОВ НА СТРАНИЦЕ
                    td 5 - 6
                    td 6 - 8
                    td 6 - 8
                tr
                    td СТРАНИЦА «ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ»
                    td +
                    td +
                    td +
                tr
                    td ПОДКЛЮЧЕНИЕ СБОРА ЗАЯВОК И СИСТЕМ ОПЛАТЫ
                    td +
                    td +
                    td +
                tr
                    td ДИЗАЙН БЛОКОВ, МЕНЮ, ВСПЛЫВАЮЩИХ ОКОН, ВИДЖЕТОВ
                    td СТАНДАРТНЫЙ С ИСПОЛЬЗОВАНИЕМ ШАБЛОНОВ
                    td СТАНДАРТНЫЙ + <u>НЕСКОЛЬКО БЛОКОВ</u> С УНИКАЛЬНЫМ ДИЗАЙНОМ
                    td ВСЕ БЛОКИ СО <u>СЛОЖНЫМ УНИКАЛЬНЫМ ДИЗАЙНОМ</u>
                tr
                    td АНИМАЦИЯ
                    td -
                    td <u>ПРОСТАЯ</u> АНИМАЦИЯ
                    td <u>СЛОЖНАЯ</u> АНИМАЦИЯ
                tr
                    td СРОК РАЗРАБОТКИ
                    td 5 - 7 ДНЕЙ
                    td 7 - 10 ДНЕЙ
                    td 10 - 16 ДНЕЙ
                tr
                    td
                    td
                        button ОТ 8000 ₽
                    td
                        button ОТ 12 000 ₽
                    td
                        button ОТ 18 000 ₽