extends ../layout/main

block variables
    - var title = 'Услуги'
    - var pageClass = 'services-page'

block content
    .offer
        .offer__bg
            img.offer__img(src="static/img/content/servicesAsya.png")
        p.offer__hi Список услуг, которые может выполнить для Вас моя команда. Обратите внимание: стоимость услуг указана приблизительно. Точную стоимость я смогу назвать после заполнения брифа и понимания объема работы.
        h2.offer__title.animSlidein УСЛУГИ И СТОИМОСТЬ
        p.offer__free СВОБОДНА ДЛЯ ПРОЕКТОВ НА ИЮНЬ 2022
    
    .service(id="webDes")
        .service__title
            .circle.circle_margin-r.circle_black
            span ЛЕНДИНГ
        p.service__disc Лендинг — одностраничный сайт, ориентированный на продвижение одного типа товара или услуги. Основная задача такого ресурса — побудить посетителя к выполнению целевого действия. От обычного сайта и сайта-визитки лендинг отличается «продающей» структурой: он является презентацией продукта и имеет много маркетинговых хитростей.<br><br>Я разрабатываю разные виды лендингов в зависимости от Вашего бюджета и задач.
    
    .tariffs
        h2 ТАРИФЫ
        .tariffs__cards
            .card
                .card-head
                    span.card-name ЭКОНОМ
                p.card-disc.card-disc-tariffs ОДНОСТРАНИЧНЫЙ САЙТ В КОРОТКИЕ СРОКИ СО СТАНДАРТНЫМ ДИЗАЙНОМ
                .tariffs__list
                    p В ТАРИФ ВХОДИТ:<br><br>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор дизайн-концепции, прототип
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фотографий со стоков
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 5 - 6 информационных блоков на странице
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Страница «Политика конфиденциальности»
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подключение сбора заявок и систем оплаты
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Дизайн блоков, меню, всплывающих окон, виджетов – стандартный, с использованием шаблонов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Без анимации
                .card-tag.card-tag_tag21 ОТ 8000 ₽
                .card-tag.card-tag_tag22 5 - 7 ДНЕЙ
            .card
                .card-head
                    span.card-name СТАНДАРТ
                p.card-disc.card-disc-tariffs ОДНОСТРАНИЧНЫЙ САЙТ С ПРОСТОЙ АНИМАЦИЕЙ, ИМЕЮЩИЙ НЕСКОЛЬКО УНИКАЛЬНЫХ БЛОКОВ
                .tariffs__list
                    p В ТАРИФ ВХОДИТ:<br><br>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор дизайн-концепции, прототип
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фотографий со стоков
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 6 - 8 информационных блоков на странице
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Страница «Политика конфиденциальности»
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подключение сбора заявок и систем оплаты
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Дизайн блоков, меню, всплывающих окон, виджетов – стандартный, + <u>несколько блоков с уникальным дизайном</u>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span <u>Простая анимация</u>
                .card-tag.card-tag_tag21 ОТ 12 000 ₽
                .card-tag.card-tag_tag22 7 - 10 ДНЕЙ
            .card
                .card-head
                    span.card-name ПРЕМИУМ
                p.card-disc.card-disc-tariffs ЭФФЕКТНЫЙ САЙТ С УНИКАЛЬНЫМ ДИЗАЙНОМ И СЛОЖНОЙ АНИМАЦИЕЙ
                .tariffs__list
                    p В ТАРИФ ВХОДИТ:<br><br>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор дизайн-концепции, прототип
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фотографий со стоков + <u>редактирование ваших фото</u>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 6 - 8 информационных блоков на странице
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Страница «Политика конфиденциальности»
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подключение сбора заявок и систем оплаты
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Дизайн блоков, меню, всплывающих окон, виджетов – <u>все блоки со сложным уникальным дизайном</u>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span <u>Сложная анимация</u>
                .card-tag.card-tag_tag21 ОТ 18 000 ₽
                .card-tag.card-tag_tag22 10 - 15 ДНЕЙ
    
    .service
        .service__title
            .circle.circle_margin-r.circle_black
            span МНОГОСТРАНИЧНЫЕ САЙТЫ
        p.service__disc Это общее название для разных видов сайтов с большим количеством страниц и информации на них. Сюда можно отнести:<br><br>– сайты-визитки, личные сайты с портфолио работ<br>– сайты компаний<br>– интернет-магазины<br><br>Я создаю удобные многостраничные сайты, которые знакомят посетителей с Вашим брендом, демонстрируют правильный имидж, помогают с выбором Ваших продуктов и услуг.
    
    .tariffs
        h2 ТАРИФЫ
        .tariffs__cards
            .card
                .card-head
                    span.card-name САЙТ-ВИЗИТКА
                p.card-disc.card-disc-tariffs МНОГОСТРАНИЧНЫЙ САЙТ-ВИЗИТКА ДЛЯ ЭКСПЕРТА ИЛИ БРЕНДА С ИНФОРМАЦИЕЙ И ПОРТФОЛИО РАБОТ
                .tariffs__list
                    p В ТАРИФ ВХОДИТ:<br><br>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Составление структуры сайта, дизайн-концепции, прототипа
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фотографий со стоков (при необходимости)
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Количество страниц: 3 - 5
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 5 - 6 информационных блоков на каждой странице
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Страницы «Политика конфиденциальности» и «404»
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подключение сбора заявок, необходимых виджетов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Анимация и дизайн - обсуждаются индивидуально; уникальный дизайн и сложная анимация увеличивают стоимость
                .card-tag.card-tag_tag21 ОТ 25 000 ₽
                .card-tag.card-tag_tag22 ОТ 14 ДНЕЙ
            .card
                .card-head
                    span.card-name САЙТ БРЕНДА/КОМПАНИИ
                p.card-disc.card-disc-tariffs МНОГОСТРАНИЧНЫЙ САЙТ ДЛЯ КОМПАНИИ С БОЛЬШИМ КОЛИЧЕСТВОМ ИНФОРМАЦИИ, КАТАЛОГАМИ И СТАТЬЯМИ
                .tariffs__list
                    p В ТАРИФ ВХОДИТ:<br><br>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Составление структуры сайта, дизайн-концепции, прототипа
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фотографий со стоков (при необходимости)
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Количество страниц: 6 - 8
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 5 - 6 информационных блоков на каждой странице
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Страницы «Политика конфиденциальности» и «404»
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подключение сбора заявок, необходимых виджетов, прайс-каталогов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Начальная SEO-настройка (для продвижения в поисковиках)
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Анимация и дизайн - обсуждаются индивидуально; уникальный дизайн и сложная анимация увеличивают стоимость
                .card-tag.card-tag_tag21 ОТ 28 000 ₽
                .card-tag.card-tag_tag22 ОТ 16 ДНЕЙ
            .card
                .card-head
                    span.card-name ИНТЕРНЕТ-МАГАЗИН
                p.card-disc.card-disc-tariffs МНОГОСТРАНИЧНЫЙ САЙТ ДЛЯ КОМПАНИИ С КАТАЛОГОМ ТОВАРОВ И ОНЛАЙН-ОПЛАТОЙ
                .tariffs__list
                    p В ТАРИФ ВХОДИТ:<br><br>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Составление структуры сайта, дизайн-концепции, прототипа
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фотографий со стоков (при необходимости)
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Количество страниц: 6 - 8
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 5 - 6 информационных блоков на каждой странице
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Страницы «Политика конфиденциальности» и «404»
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подключение сбора заявок, необходимых виджетов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подключение каталога товаров и систем оплаты
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Начальная SEO-настройка (для продвижения в поисковиках)
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Анимация и дизайн - обсуждаются индивидуально; уникальный дизайн и сложная анимация увеличивают стоимость
                .card-tag.card-tag_tag21 ОТ 35 000 ₽
                .card-tag.card-tag_tag22 ОТ 20 ДНЕЙ
    
    .service(id="brand")
        .service__title
            .circle.circle_margin-r.circle_black
            span АЙДЕНТИКА
        p.service__disc Это визуальная составляющая вашей компании. Именно она формирует имидж и восприятие бренда со стороны клиента, повышает узнаваемость в глазах ЦА и помогает сформировать первое впечатление. К ключевым элементам айдентики, помимо названия, относятся:<br><br>– логотип<br>– фирменные шрифты и цвета<br>– фирменные паттерны, графические элементы и общий стиль<br><br>Я создаю стильные логотипы и айдентику, которые отражают идеи Вашего бренда. Вы сможете использовать их при оформлении соцсетей, создании визиток, листовок, презентаций, гайдов – всего, что необходимо.
    
    .tariffs
        h2 ТАРИФЫ
        .tariffs__cards
            .card
                .card-head
                    span.card-name ЛОГОТИП (ЛАЙТ)
                p.card-disc.card-disc-tariffs УНИКАЛЬНЫЙ ЛОГОТИП ДЛЯ ВАШЕГО БРЕНДА
                .tariffs__list
                    p При отсутствии у Вашего бренда или продукта своего логотипа, при заказе сайта я могу предложить простой, но стильный вариант шрифтового логотипа для быстрого старта
                .card-tag.card-tag_tag21 БЕСПЛАТНО
                .card-tag.card-tag_tag22 1 ЧАС
            .card
                .card-head
                    span.card-name ЛОГОТИП
                p.card-disc.card-disc-tariffs УНИКАЛЬНЫЙ ЛОГОТИП ДЛЯ ВАШЕГО БРЕНДА
                .tariffs__list
                    p В ТАРИФ ВХОДИТ:<br><br>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Анализ бренда, ниши и конкурентов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Составление мудборда
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фирменных цветов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фирменных шрифтов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 1 вариант логотипа
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 2 бесплатных правки/доработок концепции
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Логобук - pdf-инструкция по использованию логотипа<br><br>
                    p СРОК РАЗРАБОТКИ – от 7 дней
                .card-tag.card-tag_tag21 ОТ 8 000 ₽
                .card-tag.card-tag_tag22 От 7 ДНЕЙ
            .card
                .card-head
                    span.card-name АЙДЕНТИКА
                p.card-disc.card-disc-tariffs УНИКАЛЬНЫЙ ЛОГОТИП И ФИРМЕННЫЙ СТИЛЬ ДЛЯ ВАШЕГО БРЕНДА
                .tariffs__list
                    p В ТАРИФ ВХОДИТ:<br><br>
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Анализ бренда, ниши и конкурентов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Составление мудборда
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фирменных цветов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Подбор фирменных шрифтов
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Разработка стилеобразующих элементов (узоры/паттерны, подложки)
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 2 варианта логотипа на выбор
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 2 бесплатных правки (на этап)
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span 2 любых макета* носителей на выбор (визитка, флаер, макет для соцсети и так далее)
                    .tariffs__list-row
                        .circle.circle_margin-r.circle_white
                        span Гайдлайн - pdf-инструкция по использованию логотипа и фирменного стиля<br><br>
                    p *Другие необходимые макеты заказываются и оплачиваются дополнительно (при необходимости)
                .card-tag.card-tag_tag21 ОТ 15 000 ₽
                .card-tag.card-tag_tag22 От 20 ДНЕЙ
    
    .service(id="moreServ")
        .service__title
            .circle.circle_margin-r.circle_black
            span ПРОЧИЕ УСЛУГИ
        .service__all-services
            p ОФОРМЛЕНИЕ ВК
            p.service__price ОТ 3500 ₽
            p ВЕБ-ДИЗАЙН (БЕЗ ВЕРСТКИ)
            p.service__price ОТ 10 000 ₽
            p ПРЕЗЕНТАЦИЯ
            p.service__price 1000 ₽/СТРАНИЦА
            p ГАЙД
            p.service__price 500 ₽/СТРАНИЦА
            p МАКЕТЫ ПОЛИГРАФИИ
            p.service__price ОТ 1000 ₽/МАКЕТ
            p РЕКЛАМНЫЕ КРЕАТИВЫ
            p.service__price 1000 ₽/МАКЕТ
    
    h2.method-title ПОРЯДОК РАБОТЫ
    .method(id="method")
        .grab-block
            h3.grab-block__num /1
            h3.grab-block__name Заявка, консультация и&nbspбриф
            p.grab-block__desc Мы договоримся о дате, времени и формате консультации, в ходе которой мы обсудим все условия, этапы работы. Также Вы заполните бриф, в котором поделитесь своими пожеланиями к функционалу и дизайну сайта.
        .grab-block
            h3.grab-block__num /2
            h3.grab-block__name Заключение договора и&nbspпредоплата
            p.grab-block__desc Я работаю официально и прозрачно: документально определим этапы работ и их согласование, сроки, порядок оплаты и прочие важные детали.
        .grab-block
            h3.grab-block__num /3
            h3.grab-block__name Разработка<br>прототипа
            p.grab-block__desc Я погружаюсь в Ваш бизнес, анализирую конкурентов, составляю логическую структуру будущего сайта, чтобы Вашим клиентам было удобно искать на нем информацию, и согласовываю ее с Вами.
        .grab-block
            h3.grab-block__num /4
            h3.grab-block__name Разработка визуальной концепции
            p.grab-block__desc Собираю шрифты, цвета, примеры удачных дизайнерских решений в единый мудборд и показываю его Вам, чтобы понять, в каком направлении двигаться в дизайне и чтобы конечный результат не стал сюрпризом.
        .grab-block
            h3.grab-block__num /5
            h3.grab-block__name Разработка сайта и настройка функционала
            p.grab-block__desc На основании прототипа и дизайн-концепции собираю сайт на подходящей Вашим задачам платформе, создаю дизайн для всех видов устройств и добавляю анимацию.
        .grab-block
            h3.grab-block__num /6
            h3.grab-block__name Согласование<br>и запуск сайта
            p.grab-block__desc Я пришлю Вам ссылку на Ваш новый сайт для тестирования и окончательного согласования.
        .grab-block
            h3.grab-block__num /7
            h3.grab-block__name Поддержка и обучение управлению сайтом
            p.grab-block__desc В конце нашего сотрудничества я пришлю ссылку на уроки по работе с платформой и отвечу на все возникающие вопросы!
    
    h2.faq-title ВОПРОС-ОТВЕТ
    .faq
        .faq__name(id="faq__name_name1" onclick='showCloseItem(this)')
            p Вы работаете официально?
            .faq__plus
                svg.faq__svg.faq__svg_closed(id="faq__svg_svg1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path(d="M0,11 L22,11")
                    path(d="M11,0 L11,22")
        .faq__answer.faq__answer_closed(id="faq__answer_answer1")
            p Да, я работаю официально в статусе самозанятой, выдаю чеки об оплате услуг и плачу налоги ;)
        .faq__name(id="faq__name_name2")
            p Есть ли возможность составить договор?
            .faq__plus
                svg.faq__svg.faq__svg_closed(id="faq__svg_svg2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path(d="M0,11 L22,11")
                    path(d="M11,0 L11,22")
        .faq__answer.faq__answer_closed(id="faq__answer_answer2")
            p Для Вашего спокойствия и полной прозрачности работы заключается договор подряда, в котором прописывается объем работ, их этапы, сроки и стоимость. Этот документ защищает Вас, как заказчика, и меня, как исполнителя.
        .faq__name(id="faq__name_name3")
            p Есть ли предоплата?
            .faq__plus
                svg.faq__svg.faq__svg_closed(id="faq__svg_svg3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path(d="M0,11 L22,11")
                    path(d="M11,0 L11,22")
        .faq__answer.faq__answer_closed(id="faq__answer_answer3")
            p Я работаю по предоплате и поэтапной оплате. Сроки определяются индивидуально в ходе составления договора.
        .faq__name(id="faq__name_name4")
            p Стоимость указана фиксированная и уже не изменится?
            .faq__plus
                svg.faq__svg.faq__svg_closed(id="faq__svg_svg4" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path(d="M0,11 L22,11")
                    path(d="M11,0 L11,22")
        .faq__answer.faq__answer_closed(id="faq__answer_answer4")
            p Стоимость работ в тарифах указана приблизительно, чтобы было легче сориентироваться. Точную стоимость я смогу назвать после заполнения брифа и понимания объема работы.
        .faq__name(id="faq__name_name5")
            p Можно ли вносить правки в ходе работы над проектом?
            .faq__plus
                svg.faq__svg.faq__svg_closed(id="faq__svg_svg5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path(d="M0,11 L22,11")
                    path(d="M11,0 L11,22")
        .faq__answer.faq__answer_closed(id="faq__answer_answer5")
            p Да. Для любой из моих услуг предусмотрено бесплатное количество правок для каждого из этапов работы. Дополнительные правки осуществляются на платной основе.<br><br>Пожалуйста, обратите внимание, что работа согласуется поэтапно, и правки ранее согласованных этапов <u>не осуществляются.</u>
        .faq__name(id="faq__name_name6")
            p Мне непонятно, что такое лендинг, брендинг, прототип... какая услуга нужна мне?
            .faq__plus
                svg.faq__svg.faq__svg_closed(id="faq__svg_svg6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path(d="M0,11 L22,11")
                    path(d="M11,0 L11,22")
        .faq__answer.faq__answer_closed(id="faq__answer_answer6")
            p В ходе бесплатной консультации перед началом нашей работы я отвечаю на все вопросы и консультирую по поводу необходимости той или иной услуги.
        .faq__name(id="faq__name_name7")
            p Сложно ли будет управлять созданным сайтом?
            .faq__plus
                svg.faq__svg.faq__svg_closed(id="faq__svg_svg7" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path(d="M0,11 L22,11")
                    path(d="M11,0 L11,22")
        .faq__answer.faq__answer_closed(id="faq__answer_answer7")
            p В конце нашего сотрудничества я пришлю гайд с текстовыми и видеоуроками по управлению Вашим новым сайтом, а также не пропадаю и остаюсь на связи. Вы всегда можете связаться со мной, если возникнут дополнительные вопросы ;)
        .faq__name(id="faq__name_name8")
            p А если мне не понравится дизайн?
            .faq__plus
                svg.faq__svg.faq__svg_closed(id="faq__svg_svg8" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path(d="M0,11 L22,11")
                    path(d="M11,0 L11,22")
        .faq__answer.faq__answer_closed(id="faq__answer_answer8")
            p В ходе работы предусмотрено согласование дизайна поэтапно, а значит, Вы имеете возможность:<br><br>- следить за ходом работы;<br>- понимать, в каком направлении я двигаюсь;<br>- вносить правки на каждом из согласуемых этапов.<br>При таком порядке работы Вы можете напрямую влиять на результат, и он не станет для вас неприятным сюрпризом! ;)