extends ../layout/main

block variables
    - var title = 'Полезное'
    - var pageClass = 'useful-page'

block content
    .offer
        .offer__bg.offer__bg_serv-grad
            img(src="static/img/content/servicesAsya.jpg" alt="Ася")
        .offer__bg-mobile.offer__bg-mobile_serv-grad
            img.offer__img(src="static/img/content/servicesAsyaMobile.jpg" alt="Ася")
        p.offer__hi Здесь я буду публиковать полезную информацию об оформлении бизнеса в интернете, о выборе движка для будущего сайта и многое другое!<br><br>Для того, чтобы первым узнавать о новых статьях, следи за мной в социальных сетях.
        .offer__wrap
            h2.offer__title.useful__title ПОЛЕЗНЫЕ СТАТЬИ
            p.offer__free СВОБОДНА ДЛЯ ПРОЕКТОВ НА АВГУСТ 2022