extends ../layout/main

block variables
    - var title = 'Полезное'
    - var pageClass = 'useful-page'

block content
    .offer
        .offer__bg
            img.offer__img(src="static/img/content/servicesAsya.png")
        .offer__bg-mobile.offer__bg-mobile_serv-grad
            img.offer__img(src="static/img/content/servicesAsyaMobile.png")
        p.offer__hi Здесь я буду публиковать полезную информацию об оформлении бизнеса в интернете, о выборе движка для будущего сайта и многое другое!<br><br>Для того, чтобы первым узнавать о новых статьях, следи за мной в социальных сетях.
        h2.offer__title.useful__title.offer__title_bottom ПОЛЕЗНЫЕ СТАТЬИ
        p.offer__free СВОБОДНА ДЛЯ ПРОЕКТОВ НА ИЮНЬ 2022