@media screen and (max-width 1240px)
    //Target laptop
    .cursor-dot,
    .cursor-dot-outline,
    .nav__item1,
    .nav__item2,
    .nav__item3,
    .nav__item4,
    .offer__free,
    .main-services__button,
    .cases,
    .about__prototype,
    .tariffs
        display none

    header
        grid-template-columns 1fr 2fr 1fr
        grid-gap 1.1vw
        padding 1vh 1.1vw 1vh 1.1vw

    .header__svg
        grid-row 1/2
        grid-column 1/2

    .header__logo
        fill #fff
        height calc(30px + 20 * (100vw / 1240)) //50px

    .header__contacts
        border 1px solid
        border-radius 9em
        padding 0.5vw 1vw
        font-size headerContactsFontSize

    .header__item5
        display block
        grid-row 1/2
        grid-column 2/3
        justify-self center

    .header__item6
        grid-row 1/2
        grid-column 3/4
        justify-self end

    .header__burger
        display block
        cursor pointer
        height calc(21px + 14 * (100vw / 1240)) //35px
    
    .burger-menu
        position fixed
        z-index 11
        display grid
        grid-template-rows repeat(5, 1fr)
        grid-template-columns 1fr 1fr
        grid-gap 1.6vw
        padding 1vh 1.1vw 1vh 1.1vw
        width 100vw
        height 100vh
        background-color bgColor
    
    .burger-menu_closed
        transition transform 0.4s
        transform translateX(100%)

    .burger-menu_opened
        transition transform 0.4s
        transform translateX(0)
    
    .burger-menu__logo
        grid-row 1/2
        grid-column 1/2

    .burger-menu__close
        grid-row 1/2
        grid-column 2/3
        justify-self end

    .burger-menu__svg
        width 40px
        height 40px
        stroke none
        stroke-width 0.1vw
        fill none
        fill-rule evenodd
        stroke-linecap square
        stroke #fff
        transform rotate(45deg)
        cursor pointer

    .burger-menu__nav
        grid-row 2/4
        grid-column 2/3
        align-self end
        font-size burgerMenuFS

    .burger-menu__social
        grid-row 4/5
        grid-column 2/3

    .burger-menu__copyright
        grid-row 5/6
        grid-column 1/2
        align-self end

    .burger-menu__free
        grid-row 5/6
        grid-column 2/3
        align-self end
        justify-self end

    .offer__hi
        grid-column 1/8

    .offer__title
        grid-column 1/13

    .main-services
        grid-template-rows repeat(5, 1fr)
        grid-template-columns repeat(6, 1fr)

    .main-services__item11
        grid-column 1/4

    .main-services__discription
        grid-column 4/7

    .main-services__title_uxui
        grid-column 1/3

    .main-services__uxui-p
        grid-column 1/3

    .main-services__title_aidentika
        grid-column 3/5

    .main-services__aidentika-p
        grid-column 3/5

    .main-services__title_smm
        grid-column 5/7

    .main-services__smm-p
        grid-column 5/7

    .main-services__item24
        grid-row 5/6
        grid-column 1/7
        align-self center
        justify-self start

    .main-services__button2
        display block
        font-family headerFont
        font-size main-services-font-size

    .main-services__svg
        display block
        height calc(16px + 4 * (100vw / 1240)) //20px
        transition transform 0.2s
        transform translateX(1vw)
    
    .main-services__item24:hover .main-services__svg
        transition transform 0.2s
        transform translateX(4vw)
    
    .casesGrab
        display flex
        cursor grab
        padding 0 2.13vw
        margin-top 5vw
        -webkit-user-select none
        -moz-user-select none
        overflow hidden
    
    .card
        min-width calc(280px + 200 * (100vw / 1240)) //280px
        margin-right 5vw
    
    .cases-title
        display block
        padding-left 2.13vw
    
    .cases-arrow
        display flex
        max-width 45vw
        padding 4vw 0 0 2.13vw
    
    .cases-arrow:hover .main-services__svg
        transition transform 0.2s
        transform translateX(4vw)

    .about__skills
        grid-column 1/3
        margin-top 5vw
        display grid
        grid-template-rows 0.2fr 1fr
        grid-template-columns 1fr 1fr

    .about__skills-title
        grid-row 1/2
        grid-column 1/3
    
    .about__all-skills
        grid-row 2/3
        grid-column 2/3
        grid-template-rows 1fr 1fr 1fr 1fr
        grid-template-columns 1fr 1fr
    
    .about__all-clients
        grid-template-rows repeat(9, 1fr)
        grid-template-columns 1fr
        grid-row-gap 3vw
    
    .cases_grab-portfolio
        margin-top 20vh
    
    .tariffs-mobile
        display block

    #faqName11, #faqName14, #faqName17
        border-bottom 1px solid
    
    .faq__name
        padding 3vw 0 3vw 0

    .faq__answer
        padding-top 3vw

    .faq__answer p
        padding-bottom 3vw
    
    footer
        grid-template-rows 2fr 1fr 1fr 1fr 1fr
        grid-template-columns 1fr 1fr
    
    .footer__title
        grid-column 1/3
    
    .footer__item21
        grid-column 1/2

    .footer__item22
        grid-column 2/3

    .footer__item23
        grid-row 3/4
        grid-column 2/3
        justify-self start

    .footer__button
        grid-row 4/5
        grid-column 2/3
        padding 1vw 2vw
        justify-self start

    .footer__item31
        grid-row 5/6
        grid-column 1/2
        align-self end

    .footer__item32
        grid-row 5/6
        grid-column 2/3
        align-self end

    .footer__item33
        display none


//@media screen and (max-width 768px)
    //Target tablet

//@media screen and (max-width 480px)
    //Target smartphone