@media screen and (max-width 1279px)
    //Target tablet landscape
    .cursor-dot,
    .offer__free,
    .terms
        display none

    .offer__hi
        grid-column 1/8

    .offer__button
        padding 1.25vw

    .terms-grab__title
        display block
        font-size termsTitleFS
        padding doubleIndent 40px 0 40px

    .terms-grab
        display flex
        margin defIndent 0 doubleIndent 0
        padding-left 20vw

    .faq
        grid-column 1/4

    .card-name
        font-size cardNameTLFS

    .card-date, .card-disc
        font-size cardDateDescTLFS

    .card-tag
        font-size tagTLFS

    .card__grab .card-name
        font-size calc(18px + 19 * (100vw / 1920))

    .card__grab .card-date
        font-size calc(8px + 8 * (100vw / 1920))

    .card__grab .card-disc
        font-size calc(8px + 8 * (100vw / 1920))

    .card__grab .card-tag
        font-size calc(9px + 9 * (100vw / 1920))

    .tariffs__cards .card-name
        font-size calc(0px + 36 * (100vw / 1920))

    .tariffs__cards .card-date
        font-size calc(5px + 10 * (100vw / 1920))

    .tariffs__cards .card-disc
        font-size calc(5px + 10 * (100vw / 1920))

    .tariffs__cards .card-tag
        font-size calc(6px + 10 * (100vw / 1920))

    .tariffs__list
        font-size calc(6px + 10 * (100vw / 1920))

@media screen and (max-width 1023px)
    //Target tablet portrait
    .header__nav,
    .main-services__item24,
    .about__prototype,
    .tariffs
        display none

    h1, h2
        font-size tabletMainTitleFS

    .portfolio__title
        font-size tabletPortfTitleFS

    .services__title
        font-size tabletServTitleFS

    .rossiyanka__title
        font-size tabletRosTitleFS

    header
        grid-template-columns 1fr 2fr 1fr
        grid-column-gap 20px
        padding 0 20px 0 20px
        height 50px

    .header__svg
        grid-row 1/2
        grid-column 1/2

    .header__logo
        fill #fff
        height 25px

    .header__contacts
        border 1px solid
        border-radius 9em
        padding 0.5vw 1vw
        font-size headerContactsFS

    .header__item5
        display block
        grid-row 1/2
        grid-column 2/3
        justify-self center

    .header__item6
        grid-row 1/2
        grid-column 3/4
        justify-self end

    .header__burger
        display block
        cursor pointer
        height 19px

    .burger-menu
        position fixed
        z-index 11
        display grid
        grid-template-rows repeat(5, 1fr)
        grid-template-columns 1fr 1fr
        grid-gap 20px
        padding 1.3vh 20px 30px 20px
        width 100vw
        height 100vh
        background-color bgColor

    .burger-menu_closed
        transition transform 0.4s
        transform translateX(100%)

    .burger-menu_opened
        transition transform 0.4s
        transform translateX(0)
    
    .burger-menu__logo
        grid-row 1/2
        grid-column 1/2

    .burger-menu__close
        grid-row 1/2
        grid-column 2/3
        justify-self end

    .burger-menu__svg
        height 19px
        stroke none
        stroke-width 1px
        fill none
        fill-rule evenodd
        stroke-linecap square
        stroke textColor
        cursor pointer

    .burger-menu__nav
        grid-row 2/4
        grid-column 2/3
        align-self end
        font-size burgerMenuFS

    .burger-menu__social
        grid-row 4/5
        grid-column 2/3
        font-size burgerContactsFS

    .burger-menu__copyright
        grid-row 5/6
        grid-column 1/2
        align-self end

    .burger-menu__free
        grid-row 5/6
        grid-column 2/3
        align-self end
        justify-self end

    .offer
        grid-template-rows 2fr 1fr 1fr
        grid-template-columns repeat(8, 1fr)
        grid-gap 20px

    .offer__bg
        grid-row 1/4
        grid-column 1/9

    .offer__hi
        grid-row 2/3
        grid-column 1/6
        align-self end
        padding 0 20px

    .offer__wrap
        grid-row 3/4
        grid-column 1/9
        padding 0 20px 1.5vw 20px
        grid-gap 20px

    .offer__title
        grid-row 1/2

    .offer__title_bottom
        grid-row 3/4
        grid-column 1/9
        padding 0 20px
        align-self center

    .offer__button
        padding 1.5vw

    .offer__bg_portf
        display none

    .offer__hi_portf
        grid-column 1/7

    .offer__bg-mobile_portf
        display flex
        justify-content center
        grid-row 1/4
        grid-column 1/9
        order 1
        overflow hidden

    .offer__bg-mobile_main-grad:after
        content ""
        bottom 0
        width 100%
        height 95%
        position absolute
        background linear-gradient(to top, #1e1e1eff, #1e1e1e00)

    .offer__bg-mobile_serv-grad:after
        content ""
        bottom 0
        width 100%
        height 7%
        position absolute
        background linear-gradient(to top, #1e1e1eff, #1e1e1e00)

    .offer__bg-mobile_portf-grad:after
        content ""
        bottom 0
        width 100%
        height 80%
        position absolute
        background linear-gradient(to top, #1e1e1eff, #1e1e1e00)

    .main-services
        grid-template-columns 1fr
        grid-gap 20px
        padding quadrupleIndent 20px 0 20px

    .main-services__wrap
        grid-column 1/2
        grid-gap 20px

    .main-services__all-services
        grid-column 1/2

    .cases-arrow_main-services
        display block
        padding-bottom doubleIndent

    .cases
        padding doubleIndent 20px 0 20px

    .cases__portfolio
        padding 0 20px doubleIndent 20px

    .casesGrab
        padding-left 20px

    .cases-title-wrap
        grid-column-gap 20px
        grid-template-columns 3fr 2fr 2fr
        padding 0 20px

    .cases-title
        font-size calc(15px + 150 * (100vw / 1920))

    .cases-hint
        grid-column-gap 20px

    .cases-text
        display none

    .cases-svg-wrap
        grid-column 1/5

    .cases-arrow
        margin calc(22px + 50 * (100vw / 1920)) 20px doubleIndent 20px

    .card
        height 45vw * 1.33
        grid-gap calc(13px + 7 * (100vw / 1023))
        padding calc(13px + 7 * (100vw / 1023))

    .card-name
        font-size cardNameTPFS

    .card-date, .card-disc
        font-size cardDateDescTPFS

    .card-tag
        font-size tagTPFS

    .cases__cards
        grid-template-columns 1fr 1fr
        grid-gap 20px

    .card__grab
        margin-right 20px

    .card__grab .card-name
        font-size calc(23px + 14 * (100vw / 1920))

    .card__grab .card-date
        font-size calc(10px + 6 * (100vw / 1920))

    .card__grab .card-disc
        font-size calc(10px + 6 * (100vw / 1920))

    .card__grab .card-tag
        font-size calc(12px + 6 * (100vw / 1920))

    .about
        padding doubleIndent 20px

    .about__education
        grid-gap 20px
        padding 13px 0 26px 0

    .about__samsung
        padding-bottom 13px

    .about__skills
        grid-column 1/3
        display grid
        grid-gap 20px
        grid-template-columns 1fr 1fr

    .about__skills .top-line
        grid-row 1/2
        grid-column 1/3

    .about__skills-title
        grid-row 1/2
        grid-column 1/3
        padding-bottom 0

    .about__all-skills
        grid-row 2/3
        grid-column 2/3
        grid-template-columns 1fr 1fr
        grid-gap 20px

    .about__clients
        grid-gap 20px

    .about__all-clients
        grid-template-columns 1fr
        grid-gap 20px

    .terms-grab__title
        padding doubleIndent 20px 0 20px

    .terms-grab
        margin defIndent 0 quadrupleIndent 0

    .look-wrap
        padding defIndent 20px 0 20px
        grid-row-gap 10px
        grid-column-gap 20px

    .service
        padding defIndent 20px
        grid-gap 20px

    .tariffs-mobile
        display block

    .method-title
        padding quadrupleIndent 20px 0 20px

    .carousel-cell
        min-width calc(210px + 320 * (100vw / 1920))
        padding 0 20px

    .faq__main-wrap
        grid-gap 20px

    .faq
        padding miniIndent 20px defIndent 20px

    .faq-title
        padding defIndent 20px 0 20px

    .faq__name
        padding 2.5vw 0 2.5vw 0

    .faq__answer
        padding-bottom 3vw

    .work__title
        margin 0 20px

    .work__desc
        padding 0 20px 26px 20px

    footer
        min-height 70vh
        margin-top doubleIndent
        grid-template-rows 2fr 1fr 1fr 1fr 1fr 1fr
        grid-template-columns 1fr 1fr
        grid-gap 20px
        padding 0 20px 30px 20px

    .footer__title
        grid-column 1/3

    .footer__item21
        grid-column 1/2

    .footer__item22
        grid-column 2/3

    .footer__item23
        grid-row 3/4
        grid-column 2/3
        justify-self start

    .footer__button
        grid-row 4/5
        grid-column 2/3
        justify-self start
        padding 1vw 2vw
        font-size footerFS

    .footer__item31
        grid-row 6/7
        grid-column 1/2

    .footer__item32
        grid-row 5/6
        grid-column 2/3
        font-size footerFS

    .footer__item33
        grid-row 6/7
        grid-column 2/3
        justify-self start

@media screen and (max-width 767px)
    //Target tablet-mini
    h1, h2
        font-size mobileMainTitleFS

    .header__contacts
        padding 0.75vw 1.5vw

    .portfolio__title
        font-size mobilePortfTitleFS

    .services__title
        font-size mobileServTitleFS

    .rossiyanka__title
        font-size mobileRosTitleFS

    .useful__title
        font-size mobileUsefulTitleFS

    .offer__bg
        display none

    .offer__hi
        grid-column 1/7

    .offer__wrap
        grid-template-rows 1fr 1fr

    .offer__title
        grid-column 1/7

    .offer__button
        margin-bottom 0
        align-self center
        grid-row 2/3
        padding 2vw 1vw

    .offer__button_21
        grid-column 1/4

    .offer__button_22
        grid-column 4/7

    .offer__button_31
        grid-column 1/3

    .offer__button_32
        grid-column 3/5

    .offer__button_33
        grid-column 5/7

    .offer__bg-mobile
        display flex
        justify-content center
        grid-row 1/4
        grid-column 1/9
        order 1
        overflow hidden

    .main-services
        grid-template-columns 1fr
        margin-top 0
        min-height 0
        padding-top doubleIndent

    .main-services__wrap
        display none

    .main-services__item11_mobile, .main-services__discription_mobile
        display block

    .main-services__item11
        grid-row 1/2
        grid-column 1/2
        justify-self center
        align-self start
        padding 0
        height auto

    .main-services__img
        max-width 100%
        height auto

    .main-services__discription
        grid-row 2/3
        grid-column 1/2
        align-self center
        font-size mainServicesDescFSMobile

    .main-services__all-services
        grid-row 3/4
        grid-column 1/2
        grid-template-rows none
        grid-template-columns 1fr 1fr
        grid-column-gap 20px
        grid-row-gap 0

    .main-services__first
        grid-row 1/2
        grid-column 1/3

    .main-services__second
        grid-row 3/4
        grid-column 1/3

    .main-services__third
        grid-row 5/6
        grid-column 1/3

    .main-services__title
        align-self flex-start
        padding 13px 0 16px 0

    .main-services__title_uxui
        grid-row 1/2
        grid-column 1/3

    .main-services__uxui-p
        grid-row 2/3
        grid-column 2/3
        padding-bottom 26px
        font-size mainServicesFSMobile

    .main-services__title_aidentika
        grid-row 3/4
        grid-column 1/3

    .main-services__aidentika-p
        grid-row 4/5
        grid-column 2/3
        padding-bottom 26px
        font-size mainServicesFSMobile

    .main-services__title_smm
        grid-row 5/6
        grid-column 1/3

    .main-services__smm-p
        grid-row 6/7
        grid-column 2/3
        padding-bottom 26px
        font-size mainServicesFSMobile

    .look-wrap
        grid-template-columns repeat(6, 1fr)

    .look-wrap p
        grid-column 1/7

    .look
        grid-column 2/6

    .policy
        padding 5vw

    .faq__plus
        padding 1vw

    .cases-hint
        display none

    .card-name
        font-size cardNameTMFS

    .card-date, .card-disc
        font-size cardDateDescTMFS

    .card-tag
        font-size tagTMFS

    .card__grab .card-name
        font-size calc(9px + 33 * (100vw / 1240))

    .card__grab .card-date
        font-size calc(4px + 15 * (100vw / 1240))

    .card__grab .card-disc
        font-size calc(4px + 15 * (100vw / 1240))

    .card__grab .card-tag
        font-size calc(5px + 16 * (100vw / 1240))

@media screen and (max-width 600px)
    //Target smartphone
    .burger-menu__copyright,
    .burger-menu__free
        display none

    .burger-menu
        grid-template-rows 1fr 1fr 1fr
        grid-template-columns 1fr 1fr
        padding 1vh 20px 20px 20px

    .burger-menu__logo
        grid-row 1/2
        grid-column 1/2

    .burger-menu__close
        grid-row 1/2
        grid-column 2/3
        justify-self end

    .burger-menu__nav
        grid-row 2/3
        grid-column 1/3
        align-self center

    .burger-menu__social
        grid-row 3/4
        grid-column 1/3

    .header__contacts
        padding 1vw 2vw

    .offer
        height 90vh

    .offer__hi
        grid-column 1/8

    .offer__wrap
        grid-gap 10px

    .offer__button
        padding 3vw 1vw

    .main-services__all-services
        grid-template-columns repeat(4, 1fr)

    .main-services__title,
    .main-services__first,
    .main-services__second,
    .main-services__third
        grid-column 1/5

    .main-services__uxui-p,
    .main-services__aidentika-p,
    .main-services__smm-p
        grid-column 2/5

    .cases-arrow
        position static
        display grid
        grid-template-rows 1fr
        grid-template-columns repeat(4, 1fr)
        grid-column-gap 20px

    .line
        position static
        grid-row 1/2
        grid-column 1/5
        align-self center

    .cases-arrow__button
        position static
        left auto
        transform translate(0, 0)
        grid-row 1/2
        grid-column 2/4
        align-self center

    .about__education,
    .about__clients
        grid-template-columns repeat(4, 1fr)

    .about__education-title,
    .about__skills-title,
    .about__clients-title,
    .service__title,
    .top-line_about,
    .about__skills .top-line
        grid-column 1/5

    .about__narfu,
    .about__samsung,
    .about__all-skills,
    .about__all-clients
        grid-column 2/5

    .about__skills
        grid-column 1/5
        grid-template-columns repeat(4, 1fr)

    .look
        grid-column 1/7

    .service
        grid-template-columns repeat(4, 1fr)

    .service__disc
        grid-column 2/5
        font-size serviceFS

    .service__all-services
        grid-column 2/5
        font-size allServiceMFS

    .faq__answer p
        padding 2vw 0

    .faq__plus
        padding 2vw

    .cases__cards
        grid-template-columns 1fr

    .card
        height 86.5vw * 1.33

    .card-name
        font-size cardNameMFS

    .card-date, .card-disc
        font-size cardDateDescMFS

    .card-tag
        font-size tagMFS

    .card__grab
        height 50vw * 1.33

    .card__grab .card-name
        font-size calc(17px + 21 * (100vw / 1240))

    .card__grab .card-date
        font-size calc(7px + 10 * (100vw / 1240))

    .card__grab .card-disc
        font-size calc(7px + 10 * (100vw / 1240))

    .card__grab .card-tag
        font-size calc(8px + 10 * (100vw / 1240))

    .work
        grid-template-columns repeat(4, 1fr)

    .work__title
        grid-column 1/5

    .work__desc
        grid-column 2/5

    .work__img
        grid-column 1/5

    .ticker
        grid-column 1/5

@media screen and (max-width 480px) and (orientation landscape)
    .content, header, .burger-menu, footer
        display none

    .rotate-please
        display flex
        width 100vw
        height 100vh
        align-items center
        justify-content center
    
    .rotate-please p
        width 85%
        text-align center