@import 'utils/fonts.styl'
@import 'utils/vars.styl'
@import 'utils/mixins.styl'
@import 'libs.styl'

html
	font-size baseFontSize
	height 100%
	line-height 1.3

body
	font-family mainFont, Arial, Helvetica, sans-serif
	height 100%
	animation pageTransition 1.5s

.circle
	border-radius 50%
	margin-right 1vw
	min-width calc(6px + 2 * (100vw / 1920))
	min-height calc(6px + 2 * (100vw / 1920))
	transform translateY(75%)
	transition all 0.4s ease
	background-color textColor

.circle_about
	min-width calc(4px + 4 * (100vw / 1920))
	min-height calc(4px + 4 * (100vw / 1920))

.circle_tariffs
	min-width calc(1px + 7 * (100vw / 1920))
	min-height calc(1px + 7 * (100vw / 1920))

.circle_white
	transition all 0.4s ease
	background-color bgColor

.cursor-dot
	mix-blend-mode normal
	pointer-events none
	position absolute
	top 50%
	left 50%
	border-radius 50%
	opacity 0
	position fixed
	-webkit-transform translate(-50%, -50%)
	transform translate(-50%, -50%)
	-webkit-transition opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out
	transition opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out
	transition opacity 0.3s ease-in-out, transform 0.3s ease-in-out
	transition opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out
	z-index 99999999
	width 8px
	height 8px
	background-color rgba(255, 255, 255, 0.72)
	border solid
	border-radius 50%
	border-width 0px
	border-color #ffffff

::-webkit-scrollbar
	display none

::selection
	color bgColor
	background accentColor

::-moz-selection
	color bgColor
	background accentColor

.toTopButton
	position fixed
	z-index 999
	right 1.5vw
	bottom 2.5vh
	mix-blend-mode difference

.toTopButton__svg
	height 6vh

.toTopButton__path
	fill #fff

h1, h2
	font-weight 500
	font-family headerFont, Arial, Helvetica, sans-serif
	font-size titleFontSize
	line-height 1.1
	margin 0

h3
	font-weight 500
	font-family headerFont, Arial, Helvetica, sans-serif
	font-size subTitleFontSize
	margin 0

h4,h5,h6
	font-weight 500
	font-family headerFont, Arial, Helvetica, sans-serif
	margin 0

ul,li
	list-style-type none
	margin 0
	padding 0

p
	margin 0

a
	color textColor
	text-decoration none

.linkUnderLine
	position relative

.linkUnderLine:after
	display block
	position absolute
	left auto
	right 0
	width 0
	height 0.5px
	background textColor
	content ""
	transform translateY(-0.2em)
	transition width 0.2s cubic-bezier(0, 0, .40, 1)

.linkUnderLine:hover:after, .linkUnderLine:focus:after
	width 100%
	left 0
	right auto

audio,
canvas,
iframe,
video
	vertical-align middle

textarea
	resize none

section
	position relative

input,
select
	outline none

.button
	display flex
	align-items center
	justify-content center
	border 0.5px solid
	border-radius 9em
	border-color accentColor
	background accentColor
	color bgColor
	text-decoration none
	z-index 3

*, *:before, *:after
	box-sizing border-box

.wrapper
	position relative
	display flex
	flex-direction column
	transition all 0.4s ease
	background-color bgColor
	color textColor

.wrapper__white
	transition all 0.4s ease
	background-color textColor
	color bgColor

.content
	flex 1 0 auto
	position relative
	overflow-x hidden

.offer
	position relative
	display grid
	grid-template-rows repeat(5, 1fr)
	grid-template-columns repeat(12, 1fr)
	grid-gap 30px
	height 99.9vh

.offer__bg
	display flex
	grid-row 1/6
	grid-column 1/13
	justify-self end
	justify-content flex-end
	height 100%
	overflow hidden

.offer__bg_main-grad:after
	content ""
	bottom 0
	width 100%
	height 40%
	position absolute
	background linear-gradient(to top, #1e1e1eff, #1e1e1e00)

.offer__bg_serv-grad:after
	content ""
	bottom 0
	width 100%
	height 42%
	position absolute
	background linear-gradient(to top, #1e1e1eff, #1e1e1e00)

.offer__bg_portf-grad:after
	content ""
	bottom 0
	width 100%
	height 43%
	position absolute
	background linear-gradient(to top, #1e1e1eff, #1e1e1e00)

.offer__bg-mobile
	display none

.offer__img
	width 100%
	height 100%
	object-fit cover
	-webkit-user-drag none

.offer__hi
	font-size offerFontSize
	grid-row 2/4
	grid-column 1/6
	align-self center
	z-index 3
	padding 2vw 40px 0 40px
	opacity 0
	transform translateY(40%)
	transition transform 0.8s ease-out, opacity 0.8s ease-out

.offer__wrap
	grid-row 4/6
	grid-column 1/13
	display grid
	grid-template-rows 1fr
	grid-template-columns repeat(6, 1fr)
	grid-gap 30px
	padding 0 40px 1.5vw 40px
	z-index 3
	opacity 0
	transform translateY(15%)
	transition transform 0.8s ease-out 0.4s, opacity 0.8s ease-out 0.4s

.offer__title
	grid-row 1/2
	grid-column 1/4
	align-self end
	opacity 0
	transform translateY(30%)
	transition transform 0.8s ease-out 0.2s, opacity 0.8s ease-out 0.2s

.offer__title_bottom
	grid-row 4/6
	grid-column 1/9
	align-self start
	padding 0 40px
	z-index 3

.offer__free
	grid-row 1/2
	grid-column 4/7
	text-align right
	justify-self end
	align-self end
	padding-bottom 1.7vw

.offer__button
	grid-row 1/2
	display flex
	justify-content center
	align-items center
	border 0.5px solid
	border-radius 9em
	border-color accentColor
	padding 1vw
	margin-bottom 1.7vw
	align-self end
	font-family headerFont, Arial, Helvetica, sans-serif
	font-size offerButtonFS
	line-height 0
	color bgColor
	background-color accentColor
	cursor pointer
	white-space nowrap

.offer__button_active
	color textColor
	border-color textColor
	background-color rgba(30, 30, 30, 0)

.offer__button_31
	grid-column 4/5

.offer__button_21, .offer__button_32
	grid-column 5/6

.offer__button_22, .offer__button_33
	grid-column 6/7

.offer__transition
	opacity 1
	transform translateY(0)

.cases
	min-height 78vh
	padding doubleIndent 40px 0 40px

.cases__portfolio
	padding 0 40px doubleIndent 40px

.carousel
	display flex
	cursor grab
	overflow auto

.carousel:active
	cursor grabbing

.carousel-cell
	min-width calc(300px + 130 * (100vw / 1920))
	padding 0 30px

.carousel-cell__name
	text-transform uppercase
	padding-top 2vw

.carousel-cell__desc
	padding-top 2vw
	font-size carouselFS

.cases-title-wrap
	display grid
	grid-column-gap 30px
	grid-template-columns 1fr 1fr 1fr
	align-items baseline
	padding 0 40px

.cases-title
	grid-row 1/2
	grid-column 1/3
	white-space nowrap

.cases-hint
	grid-row 1/2
	grid-column 3/4
	display grid
	grid-column-gap 30px
	grid-template-columns 1fr 1fr 1fr 1fr
	align-items center

.cases-text
	grid-row 1/2
	grid-column 1/2
	white-space nowrap
	font-family headerFont, Arial, Helvetica, sans-serif

.cases-svg-wrap
	grid-row 1/2
	grid-column 2/5
	display flex
	justify-content flex-end
	overflow hidden

.cases-svg
	min-width 438px
	min-height 23px
	fill none
	transition all 0.4s ease
	stroke textColor

.cases-svg_white
	transition all 0.4s ease
	stroke bgColor

.casesGrab
	display flex
	padding-left 40px
	margin-top miniIndent

.cases__cards
	display grid
	grid-template-columns 1fr 1fr 1fr
	grid-gap 30px
	padding-top defIndent

.cases__cards_portfolio
	padding-top 0.1vh

.cases-arrow
	position relative
	font-family headerFont, Arial, Helvetica, sans-serif
	font-size casesArrowFS
	margin defIndent 40px doubleIndent 40px

.cases-arrow_main-services
	display none

.line
	position absolute
	width 100%
	height 0.5px
	transition all 0.4s ease
	background-color textColor
	z-index 1

.line_white
	transition all 0.4s ease
	background-color bgColor

.top-line
	width 100%
	height 0.5px
	transition all 0.4s ease
	background-color textColor
	margin-bottom 13px

.top-line_white
	transition all 0.4s ease
	background-color bgColor

.cases-arrow__button
	position absolute
	left 50%
	padding 0.3vw 1vw
	z-index 3
	transition all 0.4s ease
	color bgColor
	transform translate(-50%, -50%)

.card
	display grid
	grid-template-rows 1fr 1fr 10fr 1fr
	grid-template-columns repeat(6, 1fr)
	grid-gap calc(9px + 21 * (100vw / 1920))
	padding calc(9px + 21 * (100vw / 1920))
	border 0.5px solid
	height 29.75vw * 1.33
	transition all 0.4s ease
	color textColor
	text-transform uppercase
	font-family headerFont, Arial, Helvetica, sans-serif

.card__white
	transition all 0.4s ease
	color bgColor

.card_tariff
	height auto

.card-head
	display flex
	grid-row 1/2
	grid-column 1/7
	justify-content space-between
	align-items center
	align-self flex-start

.card-name
	font-size cardNameFS

.card-date
	font-size cardDateDescFS

.card-disc
	grid-row 2/3
	grid-column 1/7
	font-size cardDateDescFS

.card-tag
	display flex
	border 0.5px solid
	border-radius 9em
	padding 0.5vw 1vw
	justify-content center
	align-items center
	align-self flex-end
	font-size tagFS
	white-space nowrap

.card-tag_tag21
	grid-row 4/5
	grid-column 1/4

.card-tag_tag22
	grid-row 4/5
	grid-column 4/7

.card-tag_tag31
	grid-row 4/5
	grid-column 1/3

.card-tag_tag32
	grid-row 4/5
	grid-column 3/5

.card-tag_tag33
	grid-row 4/5
	grid-column 5/7

.card__grab
	margin-right 30px
	min-height calc((280px + 200 * (100vw / 1240)) * 1.33)
	min-width calc(280px + 200 * (100vw / 1240))

.card__grab .card-name
	font-size calc(18px + 19 * (100vw / 1920))

.card__grab .card-date
	font-size calc(8px + 8 * (100vw / 1920))

.card__grab .card-disc
	font-size calc(8px + 8 * (100vw / 1920))

.card__grab .card-tag
	font-size calc(9px + 9 * (100vw / 1920))

._active
	transform translateY(0) scaleX(100%)
	opacity 1

._anim-show
	transform translateY(15%) scaleX(100%)
	opacity 0
	transition transform 0.8s ease-out, opacity 0.8s ease-out

._anim-show-big
	transform translateY(30%) scaleX(100%)
	opacity 0
	transition transform 0.8s ease-out, opacity 0.8s ease-out

._anim-show-right
	transform translateX(100%) scaleX(100%)
	opacity 0
	transition transform 1s ease-out, opacity 0.8s ease-out

._anim-show-left
	transform translateX(-100%) scaleX(100%)
	opacity 0
	transition transform 1s ease-out, opacity 0.8s ease-out

._anim-show-center
	transform translateY(0) scaleX(0)
	transition transform 1s ease-out

._anim-show._active,
._active ._anim-show,
._anim-show-right._active,
._active ._anim-show-right,
._anim-show-left._active,
._active ._anim-show-left,
._anim-show-big._active,
._active ._anim-show-big,
._anim-show-center._active,
._active ._anim-show-center
	transform translateY(0) scaleX(100%)
	opacity 1

@keyframes pageTransition
	0%
		opacity 0
	100%
		opacity 1


//Модули
@import "modules/modules.styl"

// СТРАНИЦЫ
@import 'pages/index/index.styl'
@import 'pages/services/services.styl'
@import 'pages/portfolio/portfolio.styl'
@import 'pages/useful/useful.styl'
@import 'pages/policy/policy.styl'
@import 'pages/rossiyanka/rossiyanka.styl'

//Медиа-запросы
@import "media/media.styl"