@import 'utils/fonts.styl'
@import 'utils/vars.styl'
@import 'utils/mixins.styl'
@import 'libs.styl'

html
	font-size baseFontSize
	height 100%
	line-height 1.3

body
	font-family mainFont
	background-color bgColor
	color textColor
	height 100%

h1
	font-weight 400
	font-size titleFontSize
	line-height 1
	margin 0

h2
	font-weight 400
	font-size titleFooterFontSize
	margin 0

h3
	font-weight 400
	font-family headerFont
	font-size servicesFontSize
	margin 0

h4,h5,h6
	margin 0

ul,li
	list-style-type none
	margin 0
	padding 0

p
	margin 0

a
	color textColor

audio,
canvas,
iframe,
video
	vertical-align middle

textarea
	resize none

section
	position relative

input,
select
	outline none

button
	border 1px
	border-style solid
	border-radius 24px
	border-color textColor
	background bgColor
	color textColor

*, *:before, *:after
	box-sizing border-box

.wrapper
	display flex
	flex-direction column
	height 100%

.content
	flex 1 0 auto


//Модули
@import "modules/modules.styl"

// СТРАНИЦЫ
// Главная страница
@import 'pages/index/index.styl'
@import 'pages/services/services.styl'