@import 'utils/fonts.styl'
@import 'utils/vars.styl'
@import 'utils/mixins.styl'
@import 'libs.styl'

html
	font-size baseFontSize
	height 100%
	line-height 1.3

body
	font-family mainFont
	background-color bgColor
	color textColor
	height 100%

.circle
	border-radius 50%
	min-width 0.45vw
	min-height 0.45vw
	transform translate(50%, 50%)

.circle_margin-r
	margin-right 1vw

.circle_white
	background-color textColor

.circle_black
	background-color bgColor

.cursor-dot,
.cursor-dot-outline
	mix-blend-mode normal
	pointer-events none
	position absolute
	top 50%
	left 50%
	border-radius 50%
	opacity 0
	position fixed
	-webkit-transform translate(-50%, -50%)
	transform translate(-50%, -50%)
	-webkit-transition opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out
	transition opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out
	transition opacity 0.3s ease-in-out, transform 0.3s ease-in-out
	transition opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out

.cursor-dot
	z-index 99999999
	width 8px
	height 8px
	background-color rgba(255, 255, 255, 0.72)
	border solid
	border-radius 50%
	border-width 0px
	border-color #ffffff

.cursor-dot-outline
	z-index 99999998
	width 36px
	height 36px
	background-color rgba(255, 255, 255, 0.00)

::-webkit-scrollbar
	display none

::selection
	color bgColor
	background accentColor

::-moz-selection
	color bgColor
	background accentColor

.toTopButton
	position fixed
	z-index 999
	right 1.5vw
	bottom 2.5vh

.toTopButton__svg
	height 6vh

.toTopButton__path
	fill #fff

h1
	font-weight 500
	font-family headerFont
	font-size titleFontSize
	line-height 1.1
	margin 0

h2
	font-weight 500
	font-family headerFont
	font-size titleFontSize
	margin 0

h3
	font-weight 500
	font-family headerFont
	font-size subTitleFontSize
	margin 0

h4,h5,h6
	font-weight 500
	font-family headerFont
	margin 0

ul,li
	list-style-type none
	margin 0
	padding 0

p
	margin 0

a
	color textColor
	text-decoration none

.linkUnderLine
	position relative

.linkUnderLine:after
	display block
	position absolute
	left auto
	right 0
	width 0
	height 1px
	background textColor
	content ""
	transition width 0.2s cubic-bezier(0, 0, .40, 1)

.linkUnderLine:hover:after, .linkUnderLine:focus:after
	width 100%
	left 0
	right auto

audio,
canvas,
iframe,
video
	vertical-align middle

textarea
	resize none

section
	position relative

input,
select
	outline none

.button
	display flex
	align-items center
	justify-content center
	border 1px
	border-style solid
	border-radius 24px
	border-color textColor
	background bgColor
	color textColor
	text-decoration none

*, *:before, *:after
	box-sizing border-box

.wrapper
	position relative
	display flex
	flex-direction column
	height 100vh

.content
	flex 1 0 auto
	position relative

.offer
	position relative
	display grid
	grid-template-rows repeat(5, 1fr)
	grid-template-columns repeat(12, 1fr)
	grid-gap 1.6vw
	max-height 99.9vh

.offer__bg
	grid-row 1/6
	grid-column 1/13
	justify-self center
	height 100%
	-webkit-user-drag none
	order 1

.offer__hi
	font-size offerFontSize
	grid-row 2/4
	grid-column 1/6
	align-self center
	order 2
	padding-left 2.13vw

.offer__title
	grid-row 4/6
	grid-column 1/10
	order 3
	padding-left 2.13vw

.offer__title_bottom
	align-self end
	padding-bottom 1.5vw

.offer__free
	grid-row 5/6
	grid-column 10/13
	justify-self end
	align-self end
	order 4
	padding 0 2.13vw 3vw 0

.cases
	min-height 78vh
	padding 0 2.13vw 0 2.13vw

.cases_main
	margin-top 20vw

.cases_portfolio
	margin-top 0.1vw

.cases__cards
	display grid
	grid-template-rows repeat(2, 1fr)
	grid-template-columns repeat(3, 1fr)
	grid-gap 1.6vw
	min-height 30vh

.card
	display grid
	grid-template-rows 1fr 1fr 10fr 1fr
	grid-template-columns repeat(6, 1fr)
	grid-gap 1.6vw
	padding 1.6vw
	border 1px solid
	text-transform uppercase

.card-head
	display flex
	grid-row 1/2
	grid-column 1/7
	justify-content space-between
	align-items center
	align-self flex-start

.card-name
	font-family headerFont
	font-size cardNameFontSize

.card-date
	font-family headerFont

.card-disc
	grid-row 2/3
	grid-column 1/7
	font-family headerFont

.card-tag
	display flex
	border 1px solid
	border-radius 9em
	height 2vw
	justify-content center
	align-items center
	align-self flex-end
	font-family headerFont
	font-size main-services-font-size

.card-tag_tag21
	grid-row 4/5
	grid-column 1/4

.card-tag_tag22
	grid-row 4/5
	grid-column 4/7

.card-tag_tag31
	grid-row 4/5
	grid-column 1/3

.card-tag_tag32
	grid-row 4/5
	grid-column 3/5

.card-tag_tag33
	grid-row 4/5
	grid-column 5/7


//Модули
@import "modules/modules.styl"

// СТРАНИЦЫ
@import 'pages/index/index.styl'
@import 'pages/services/services.styl'
@import 'pages/portfolio/portfolio.styl'
@import 'pages/useful/useful.styl'
@import 'pages/policy/policy.styl'

//Медиа-запросы
@import "media/media.styl"