@font-face
    font-family "headerFont"
    src url("../fonts/OnestMedium.eot")
    src url("../fonts/OnestMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OnestMedium.woff") format("woff"),
    url("../fonts/OnestMedium.ttf") format("truetype")
    font-weight 500

@font-face
    font-family "mainFont"
    src url("../fonts/OnestRegular.eot")
    src url("../fonts/OnestRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OnestRegular.woff") format("woff"),
    url("../fonts/OnestRegular.ttf") format("truetype")
    font-weight 400