// COLORS
bgColor = #1e1e1e
textColor = #fff
accentColor = #c2a6cd


// SIZES
baseFontSize = calc(10px + 6 * (100vw / 1920))
titleFontSize = calc(15px + 150 * (100vw / 1920))

tabletMainTitleFS = calc(60px + 100 * (100vw / 1920))
tabletServTitleFS = calc(0px + 180 * (100vw / 1920))
tabletPortfTitleFS = calc(0px + 180 * (100vw / 1920))
mobileMainTitleFS = calc(0px + 234 * (100vw / 1920))
mobileServTitleFS = calc(0px + 230 * (100vw / 1920))
mobilePortfTitleFS = calc(4px + 230 * (100vw / 1920))
mobileUsefulTitleFS = calc(10px + 230 * (100vw / 1920))
subTitleFontSize = calc(16px + 6 * (100vw / 1920))
tabletRosTitleFS = calc(45px + 115 * (100vw / 1920))
mobileRosTitleFS = calc(0px + 210 * (100vw / 1920))

headerContactsFS = 16px

burgerMenuFS = calc(40px + 10 * (100vw / 1240))
burgerContactsFS = calc(14px + 2 * (100vw / 1920))

offerFontSize = calc(12px + 14 * (100vw / 1920))
offerButtonFS = calc(10px + 15 * (100vw / 1920))

mainServicesDescFS = calc(15px + 11 * (100vw / 1920))
main-services-font-size = calc(10px + 8 * (100vw / 1920))
main-services-button-font-size = calc(20px + 5 * (100vw / 1920))
mainServicesFSMobile = calc(10px + 15 * (100vw / 1240))
mainServicesDescFSMobile = calc(10px + 24 * (100vw / 1240))

termsFS = calc(10px + 8 * (100vw / 1920))
termsTitleFS = calc(15px + 81 * (100vw / 1920))

//card name
cardNameFS = calc(0px + 37 * (100vw / 1920))
cardNameTLFS = calc(0px + 36 * (100vw / 1920))
cardNameTPFS = calc(0px + 37 * (100vw / 1240))
cardNameTMFS = calc(0px + 36 * (100vw / 1240))
cardNameMFS = calc(0px + 36 * (100vw / 600))
//card date and desc
cardDateDescFS = calc(0px + 16 * (100vw / 1920))
cardDateDescTLFS = calc(0px + 15 * (100vw / 1920))
cardDateDescTPFS = calc(0px + 16 * (100vw / 1240))
cardDateDescTMFS = calc(0px + 15 * (100vw / 1240))
cardDateDescMFS = calc(0px + 15 * (100vw / 600))
//card tag
tagFS = calc(0px + 18 * (100vw / 1920))
tagTLFS = calc(0px + 16 * (100vw / 1920))
tagTPFS = calc(0px + 18 * (100vw / 1240))
tagTMFS = calc(0px + 16 * (100vw / 1240))
tagMFS = calc(0px + 16 * (100vw / 600))

serviceFS = calc(10px + 30 * (100vw / 1920))
answerFS = calc(13px + 5 * (100vw / 1920))
allServiceFS = calc(6px + 20 * (100vw / 1920))
allServiceMFS = calc(0px + 18 * (100vw / 600))

carouselFS = calc(15px + 1 * (100vw / 1920))

footerTitleFontSize = calc(20px + 135 * (100vw / 1920))
footerFS = calc(10px + 15 * (100vw / 1920))

policyTitleFontSize = calc(1px + 139 * (100vw / 1920))

//indents
miniIndent = calc(22px + 23 * (100vw / 1920))
defIndent = calc(45px + 45 * (100vw / 1920))
doubleIndent = calc(90px + 90 * (100vw / 1920))
quadrupleIndent = calc(180px + 180 * (100vw / 1920))