// ЦВЕТА
bgColor = #1e1e1e
textColor = #fff
accentColor = #c2a6cd


// РАЗМЕРЫ
baseFontSize = calc(12px + 4 * (100vw / 1920)) //16px 0.835vw
titleFontSize = calc(15px + 150 * (100vw / 1920)) //165px 8.6vw
subTitleFontSize = calc(16px + 6 * (100vw / 1920)) //22px 1.15vw

headerContactsFontSize = calc(16px + 4 * (100vw / 1240)) //16px for width 320px

burgerMenuFS = calc(40px + 10 * (100vw / 1240)) //50px

offerFontSize = calc(12px + 14 * (100vw / 1920)) //26px 1.35vw

mainServicesDescFS = calc(15px + 11 * (100vw / 1920)) //26px 1.35vw
main-services-font-size = calc(10px + 8 * (100vw / 1920)) //18px 0.94vw
main-services-button-font-size = calc(20px + 5 * (100vw / 1920)) //25px 1.3vw

cardNameFontSize = calc(2px + 36 * (100vw / 1920)) //38px 2vw
tagFS = calc(8px + 10 * (100vw / 1920)) //18px 0.94vw

serviceFS = calc(10px + 30 * (100vw / 1920))
allServiceFS = calc(8px + 25 * (100vw / 1920)) //26px 1.35vw

footerTitleFontSize = calc(20px + 135 * (100vw / 1920)) //155px 8.1vw
footerFS = calc(12px + 13 * (100vw / 1920)) //25px 1.3vw

policyTitleFontSize = calc(1px + 139 * (100vw / 1920)) //140px 7.3vw

// ШРИФТЫ
headerFont = Onest Medium
mainFont = Onest Regular