// COLORS
bgColor = #1e1e1e
textColor = #fff
accentColor = #c2a6cd


// SIZES
baseFontSize = calc(10px + 6 * (100vw / 1920)) //16px
titleFontSize = calc(15px + 150 * (100vw / 1920)) //165px
tabletMainTitleFS = calc(60px + 100 * (100vw / 1920)) //160px
mobileMainTitleFS = calc(4px + 230 * (100vw / 1920)) //234px
mobileUsefulTitleFS = calc(10px + 230 * (100vw / 1920)) //240px
subTitleFontSize = calc(16px + 6 * (100vw / 1920)) //22px

headerContactsFS = 16px

burgerMenuFS = calc(40px + 10 * (100vw / 1240)) //50px

offerFontSize = calc(12px + 14 * (100vw / 1920)) //26px

mainServicesDescFS = calc(15px + 11 * (100vw / 1920)) //26px
main-services-font-size = calc(10px + 8 * (100vw / 1920)) //18px
main-services-button-font-size = calc(20px + 5 * (100vw / 1920)) //25px
mainServicesFSMobile = calc(10px + 15 * (100vw / 1240)) //25px
mainServicesDescFSMobile = calc(10px + 24 * (100vw / 1240)) //34px

//card name
cardNameFS = calc(0px + 37 * (100vw / 1920)) //38px
cardNameTLFS = calc(0px + 36 * (100vw / 1920)) //34px
cardNameTPFS = calc(0px + 37 * (100vw / 1240)) //24px
cardNameTMFS = calc(0px + 36 * (100vw / 1240)) //24px
cardNameMFS = 17px
//card date and desc
cardDateDescFS = calc(0px + 16 * (100vw / 1920)) //16px
cardDateDescTLFS = calc(0px + 15 * (100vw / 1920)) //14px
cardDateDescTPFS = calc(0px + 16 * (100vw / 1240))//11px
cardDateDescTMFS = calc(0px + 15 * (100vw / 1240))//11px
cardDateDescMFS = 7px
//card tag
tagFS = calc(0px + 18 * (100vw / 1920)) //18px
tagTLFS = calc(0px + 16 * (100vw / 1920)) //15px
tagTPFS = calc(0px + 18 * (100vw / 1240)) //12px
tagTMFS = calc(0px + 16 * (100vw / 1240)) //12px
tagMFS = 8px

serviceFS = calc(10px + 30 * (100vw / 1920)) //40px
answerFS = calc(13px + 5 * (100vw / 1920)) //40px
allServiceFS = calc(6px + 20 * (100vw / 1920)) //26px

footerTitleFontSize = calc(20px + 135 * (100vw / 1920)) //155px
footerFS = calc(12px + 13 * (100vw / 1920)) //25px

policyTitleFontSize = calc(1px + 139 * (100vw / 1920)) //140px

//indents
miniIndent = calc(22px + 23 * (100vw / 1920))
defIndent = calc(45px + 45 * (100vw / 1920))
doubleIndent = calc(90px + 90 * (100vw / 1920))
quadrupleIndent = calc(180px + 180 * (100vw / 1920))