footer
  display grid
  grid-template-rows repeat(10, 1fr)
  grid-template-columns repeat(9, 1fr)
  min-height 60vh
  padding 0 1vw 2vw 1vw
  position relative
  height 100vh
  transform-style preserve-3d

.footer__title
  display flex
  align-items center
  grid-row-start 1
  grid-column-start 1
  grid-row-end 6
  grid-column-end 10

.footer__item21
  display flex
  align-items center
  grid-row-start 6
  grid-column-start 1
  grid-row-end 9
  grid-column-end 4
  font-size footerFontSize

.footer__item22
  display flex
  align-items center
  grid-row-start 6
  grid-column-start 4
  grid-row-end 9
  grid-column-end 7
  font-size footerFontSize

.footer__item23
  display flex
  align-items center
  justify-content center
  grid-row-start 6
  grid-column-start 7
  grid-row-end 9
  grid-column-end 9
  font-size footerFontSize

.footer__item24
  display flex
  align-items center
  justify-content flex-end
  grid-row-start 6
  grid-column-start 9
  grid-row-end 9
  grid-column-end 10

.footer__button
  width 16.5vw
  height 2.5vw
  font-family headerFont
  font-size footerFontSize

.footer__item31
  display flex
  align-items flex-end
  align-content flex-end
  flex-wrap wrap
  grid-row-start 9
  grid-column-start 1
  grid-row-end 11
  grid-column-end 4

.footer__item32
  display flex
  align-items flex-end
  align-content flex-end
  flex-wrap wrap
  grid-row-start 9
  grid-column-start 4
  grid-row-end 11
  grid-column-end 7

.footer__item33
  display flex
  align-items flex-end
  justify-content flex-end
  grid-row-start 9
  grid-column-start 7
  grid-row-end 11
  grid-column-end 10