footer
  display grid
  grid-template-rows 2fr 1fr 1fr
  grid-template-columns repeat(12, 1fr)
  grid-gap 1.6vw
  min-height 70vh
  position relative
  align-items center
  margin-top 25vw
  padding 0 2.13vw 2vw 2.13vw

.footer__title
  grid-row 1/2
  grid-column 1/13
  align-self start
  font-family headerFont
  font-size footerTitleFontSize

.footer__item21
  grid-row 2/3
  grid-column 1/5
  font-size main-services-button-font-size

.footer__item22
  grid-row 2/3
  grid-column 5/8
  font-size main-services-button-font-size

.footer__item23
  grid-row 2/3
  grid-column 8/11
  justify-self end
  font-size main-services-button-font-size

.footer__button
  grid-row 2/3
  grid-column 11/13
  width 13vw
  height 2.6vw
  border 1px solid
  border-radius 9em
  color textColor
  background-color rgba(30, 30, 30, 0)
  justify-self end
  font-family headerFont
  font-size main-services-button-font-size

.footer__item31
  grid-row 3/4
  grid-column 1/5
  align-self end

.footer__item32
  grid-row 3/4
  grid-column 5/10
  align-self end

.footer__item33
  grid-row 3/4
  grid-column 10/13
  align-self end
  justify-self end